service-stubs/org.wso2.carbon.identity.provider.mgt.stub/src/main/resources/IdentityProviderMgtService.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2309="http://dto.mgt.provider.identity.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://mgt.provider.identity.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2307="http://mgt.provider.identity.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mgt.provider.identity.carbon.wso2.org">
    <wsdl:documentation>IdentityProviderMgtService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.mgt.provider.identity.carbon.wso2.org/xsd">
            <xs:complexType name="TrustedIdPDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="idPIssuerId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="idPUrl" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="publicCert" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="roleMappings" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="roles" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.provider.identity.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityProviderMgtException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2308="http://mgt.provider.identity.carbon.wso2.org/xsd" xmlns:ax2310="http://dto.mgt.provider.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.provider.identity.carbon.wso2.org">
            <xs:import namespace="http://mgt.provider.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://dto.mgt.provider.identity.carbon.wso2.org/xsd"/>
            <xs:element name="IdentityProviderMgtException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityProviderMgtException" nillable="true" type="ax2308:IdentityProviderMgtException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenantIdP">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenantIdPResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2309:TrustedIdPDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateTenantIdP">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="oldTrustedIdP" nillable="true" type="ax2309:TrustedIdPDTO"/>
                        <xs:element minOccurs="0" name="newTrustedIdP" nillable="true" type="ax2309:TrustedIdPDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getTenantIdPRequest">
        <wsdl:part name="parameters" element="ns:getTenantIdP"/>
    </wsdl:message>
    <wsdl:message name="getTenantIdPResponse">
        <wsdl:part name="parameters" element="ns:getTenantIdPResponse"/>
    </wsdl:message>
    <wsdl:message name="IdentityProviderMgtException">
        <wsdl:part name="parameters" element="ns:IdentityProviderMgtException"/>
    </wsdl:message>
    <wsdl:message name="updateTenantIdPRequest">
        <wsdl:part name="parameters" element="ns:updateTenantIdP"/>
    </wsdl:message>
    <wsdl:portType name="IdentityProviderMgtServicePortType">
        <wsdl:operation name="getTenantIdP">
            <wsdl:input message="ns:getTenantIdPRequest" wsaw:Action="urn:getTenantIdP"/>
            <wsdl:output message="ns:getTenantIdPResponse" wsaw:Action="urn:getTenantIdPResponse"/>
            <wsdl:fault message="ns:IdentityProviderMgtException" name="IdentityProviderMgtException" wsaw:Action="urn:IdentityProviderMgtException"/>
        </wsdl:operation>
        <wsdl:operation name="updateTenantIdP">
            <wsdl:input message="ns:updateTenantIdPRequest" wsaw:Action="urn:updateTenantIdP"/>
            <wsdl:fault message="ns:IdentityProviderMgtException" name="IdentityProviderMgtException" wsaw:Action="urn:IdentityProviderMgtException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IdentityProviderMgtServiceSoap11Binding" type="ns:IdentityProviderMgtServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getTenantIdP">
            <soap:operation soapAction="urn:getTenantIdP" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityProviderMgtException">
                <soap:fault use="literal" name="IdentityProviderMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateTenantIdP">
            <soap:operation soapAction="urn:updateTenantIdP" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="IdentityProviderMgtException">
                <soap:fault use="literal" name="IdentityProviderMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentityProviderMgtServiceSoap12Binding" type="ns:IdentityProviderMgtServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getTenantIdP">
            <soap12:operation soapAction="urn:getTenantIdP" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="IdentityProviderMgtException">
                <soap12:fault use="literal" name="IdentityProviderMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateTenantIdP">
            <soap12:operation soapAction="urn:updateTenantIdP" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="IdentityProviderMgtException">
                <soap12:fault use="literal" name="IdentityProviderMgtException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentityProviderMgtServiceHttpBinding" type="ns:IdentityProviderMgtServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getTenantIdP">
            <http:operation location="getTenantIdP"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateTenantIdP">
            <http:operation location="updateTenantIdP"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IdentityProviderMgtService">
        <wsdl:port name="IdentityProviderMgtServiceHttpsSoap11Endpoint" binding="ns:IdentityProviderMgtServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/IdentityProviderMgtService.IdentityProviderMgtServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IdentityProviderMgtServiceHttpsSoap12Endpoint" binding="ns:IdentityProviderMgtServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/IdentityProviderMgtService.IdentityProviderMgtServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="IdentityProviderMgtServiceHttpsEndpoint" binding="ns:IdentityProviderMgtServiceHttpBinding">
            <http:address location="https://localhost:9443/services/IdentityProviderMgtService.IdentityProviderMgtServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
