service-stubs/org.wso2.carbon.identity.provider.mgt.stub/src/main/resources/IdentityProviderMgtService.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://mgt.provider.identity.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2335="http://dto.mgt.provider.identity.carbon.wso2.org/xsd" xmlns:ax2333="http://exception.mgt.provider.identity.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mgt.provider.identity.carbon.wso2.org">
    <wsdl:documentation>IdentityProviderMgtService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.mgt.provider.identity.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityProviderMgtException">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.mgt.provider.identity.carbon.wso2.org/xsd">
            <xs:complexType name="TrustedIdPDTO">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="audience" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="idPIssuerId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="idPUrl" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="primary" type="xs:boolean"></xs:element>
                    <xs:element minOccurs="0" name="publicCert" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="roleMappings" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="roles" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2336="http://dto.mgt.provider.identity.carbon.wso2.org/xsd" xmlns:ax2334="http://exception.mgt.provider.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.provider.identity.carbon.wso2.org">
            <xs:import namespace="http://exception.mgt.provider.identity.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://dto.mgt.provider.identity.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="IdentityProviderMgtServiceIdentityProviderMgtException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityProviderMgtException" nillable="true" type="ax2334:IdentityProviderMgtException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenantIdPs">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenantIdPsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateTenantIdP">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="oldTrustedIdP" nillable="true" type="ax2336:TrustedIdPDTO"></xs:element>
                        <xs:element minOccurs="0" name="newTrustedIdP" nillable="true" type="ax2336:TrustedIdPDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenantIdP">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="issuer" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenantIdPResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2336:TrustedIdPDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getTenantIdPRequest">
        <wsdl:part name="parameters" element="ns:getTenantIdP"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTenantIdPResponse">
        <wsdl:part name="parameters" element="ns:getTenantIdPResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="IdentityProviderMgtServiceIdentityProviderMgtException">
        <wsdl:part name="parameters" element="ns:IdentityProviderMgtServiceIdentityProviderMgtException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTenantIdPsRequest">
        <wsdl:part name="parameters" element="ns:getTenantIdPs"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTenantIdPsResponse">
        <wsdl:part name="parameters" element="ns:getTenantIdPsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateTenantIdPRequest">
        <wsdl:part name="parameters" element="ns:updateTenantIdP"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="IdentityProviderMgtServicePortType">
        <wsdl:operation name="getTenantIdP">
            <wsdl:input message="ns:getTenantIdPRequest" wsaw:Action="urn:getTenantIdP"></wsdl:input>
            <wsdl:output message="ns:getTenantIdPResponse" wsaw:Action="urn:getTenantIdPResponse"></wsdl:output>
            <wsdl:fault message="ns:IdentityProviderMgtServiceIdentityProviderMgtException" name="IdentityProviderMgtServiceIdentityProviderMgtException" wsaw:Action="urn:getTenantIdPIdentityProviderMgtServiceIdentityProviderMgtException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTenantIdPs">
            <wsdl:input message="ns:getTenantIdPsRequest" wsaw:Action="urn:getTenantIdPs"></wsdl:input>
            <wsdl:output message="ns:getTenantIdPsResponse" wsaw:Action="urn:getTenantIdPsResponse"></wsdl:output>
            <wsdl:fault message="ns:IdentityProviderMgtServiceIdentityProviderMgtException" name="IdentityProviderMgtServiceIdentityProviderMgtException" wsaw:Action="urn:getTenantIdPsIdentityProviderMgtServiceIdentityProviderMgtException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateTenantIdP">
            <wsdl:input message="ns:updateTenantIdPRequest" wsaw:Action="urn:updateTenantIdP"></wsdl:input>
            <wsdl:fault message="ns:IdentityProviderMgtServiceIdentityProviderMgtException" name="IdentityProviderMgtServiceIdentityProviderMgtException" wsaw:Action="urn:updateTenantIdPIdentityProviderMgtServiceIdentityProviderMgtException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IdentityProviderMgtServiceSoap11Binding" type="ns:IdentityProviderMgtServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="getTenantIdP">
            <soap:operation soapAction="urn:getTenantIdP" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="IdentityProviderMgtServiceIdentityProviderMgtException">
                <soap:fault use="literal" name="IdentityProviderMgtServiceIdentityProviderMgtException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTenantIdPs">
            <soap:operation soapAction="urn:getTenantIdPs" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="IdentityProviderMgtServiceIdentityProviderMgtException">
                <soap:fault use="literal" name="IdentityProviderMgtServiceIdentityProviderMgtException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateTenantIdP">
            <soap:operation soapAction="urn:updateTenantIdP" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:fault name="IdentityProviderMgtServiceIdentityProviderMgtException">
                <soap:fault use="literal" name="IdentityProviderMgtServiceIdentityProviderMgtException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentityProviderMgtServiceSoap12Binding" type="ns:IdentityProviderMgtServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="getTenantIdP">
            <soap12:operation soapAction="urn:getTenantIdP" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="IdentityProviderMgtServiceIdentityProviderMgtException">
                <soap12:fault use="literal" name="IdentityProviderMgtServiceIdentityProviderMgtException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTenantIdPs">
            <soap12:operation soapAction="urn:getTenantIdPs" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="IdentityProviderMgtServiceIdentityProviderMgtException">
                <soap12:fault use="literal" name="IdentityProviderMgtServiceIdentityProviderMgtException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateTenantIdP">
            <soap12:operation soapAction="urn:updateTenantIdP" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:fault name="IdentityProviderMgtServiceIdentityProviderMgtException">
                <soap12:fault use="literal" name="IdentityProviderMgtServiceIdentityProviderMgtException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdentityProviderMgtServiceHttpBinding" type="ns:IdentityProviderMgtServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="getTenantIdP">
            <http:operation location="getTenantIdP"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTenantIdPs">
            <http:operation location="getTenantIdPs"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateTenantIdP">
            <http:operation location="updateTenantIdP"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IdentityProviderMgtService">
        <wsdl:port name="IdentityProviderMgtServiceHttpsSoap11Endpoint" binding="ns:IdentityProviderMgtServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/IdentityProviderMgtService.IdentityProviderMgtServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="IdentityProviderMgtServiceHttpsSoap12Endpoint" binding="ns:IdentityProviderMgtServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/IdentityProviderMgtService.IdentityProviderMgtServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="IdentityProviderMgtServiceHttpsEndpoint" binding="ns:IdentityProviderMgtServiceHttpBinding">
            <http:address location="https://localhost:9443/services/IdentityProviderMgtService.IdentityProviderMgtServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
