service-stubs/org.wso2.carbon.identity.provider.mgt.stub/src/main/resources/IdPMetadataService.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://mgt.provider.identity.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax2325="http://mgt.provider.identity.carbon.wso2.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2327="http://dto.mgt.provider.identity.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mgt.provider.identity.carbon.wso2.org">
    <wsdl:documentation>IdPMetadataService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.mgt.provider.identity.carbon.wso2.org/xsd">
            <xs:complexType name="TrustedIdPDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="idPIssuerId" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="idPUrl" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="publicCert" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="roleMappings" nillable="true" type="xs:string"></xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="roles" nillable="true" type="xs:string"></xs:element>
                    <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.provider.identity.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityProviderMgtException">
                <xs:sequence></xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2328="http://dto.mgt.provider.identity.carbon.wso2.org/xsd" xmlns:ax2326="http://mgt.provider.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.provider.identity.carbon.wso2.org">
            <xs:import namespace="http://mgt.provider.identity.carbon.wso2.org/xsd"></xs:import>
            <xs:import namespace="http://dto.mgt.provider.identity.carbon.wso2.org/xsd"></xs:import>
            <xs:element name="IdentityProviderMgtException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityProviderMgtException" nillable="true" type="ax2325:IdentityProviderMgtException"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenantIdPMetaData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenantIdPMetaDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2328:TrustedIdPDTO"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenantIdPUrl">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTenantIdPUrlResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getTenantIdPMetaDataRequest">
        <wsdl:part name="parameters" element="ns:getTenantIdPMetaData"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTenantIdPMetaDataResponse">
        <wsdl:part name="parameters" element="ns:getTenantIdPMetaDataResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="IdentityProviderMgtException">
        <wsdl:part name="parameters" element="ns:IdentityProviderMgtException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTenantIdPUrlRequest">
        <wsdl:part name="parameters" element="ns:getTenantIdPUrl"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTenantIdPUrlResponse">
        <wsdl:part name="parameters" element="ns:getTenantIdPUrlResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="IdPMetadataServicePortType">
        <wsdl:operation name="getTenantIdPMetaData">
            <wsdl:input message="ns:getTenantIdPMetaDataRequest" wsaw:Action="urn:getTenantIdPMetaData"></wsdl:input>
            <wsdl:output message="ns:getTenantIdPMetaDataResponse" wsaw:Action="urn:getTenantIdPMetaDataResponse"></wsdl:output>
            <wsdl:fault message="ns:IdentityProviderMgtException" name="IdentityProviderMgtException" wsaw:Action="urn:IdentityProviderMgtException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTenantIdPUrl">
            <wsdl:input message="ns:getTenantIdPUrlRequest" wsaw:Action="urn:getTenantIdPUrl"></wsdl:input>
            <wsdl:output message="ns:getTenantIdPUrlResponse" wsaw:Action="urn:getTenantIdPUrlResponse"></wsdl:output>
            <wsdl:fault message="ns:IdentityProviderMgtException" name="IdentityProviderMgtException" wsaw:Action="urn:IdentityProviderMgtException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IdPMetadataServiceSoap11Binding" type="ns:IdPMetadataServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="getTenantIdPMetaData">
            <soap:operation soapAction="urn:getTenantIdPMetaData" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="IdentityProviderMgtException">
                <soap:fault use="literal" name="IdentityProviderMgtException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTenantIdPUrl">
            <soap:operation soapAction="urn:getTenantIdPUrl" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="IdentityProviderMgtException">
                <soap:fault use="literal" name="IdentityProviderMgtException"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdPMetadataServiceSoap12Binding" type="ns:IdPMetadataServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="getTenantIdPMetaData">
            <soap12:operation soapAction="urn:getTenantIdPMetaData" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="IdentityProviderMgtException">
                <soap12:fault use="literal" name="IdentityProviderMgtException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTenantIdPUrl">
            <soap12:operation soapAction="urn:getTenantIdPUrl" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="IdentityProviderMgtException">
                <soap12:fault use="literal" name="IdentityProviderMgtException"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IdPMetadataServiceHttpBinding" type="ns:IdPMetadataServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="getTenantIdPMetaData">
            <http:operation location="getTenantIdPMetaData"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTenantIdPUrl">
            <http:operation location="getTenantIdPUrl"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IdPMetadataService">
        <wsdl:port name="IdPMetadataServiceHttpsSoap11Endpoint" binding="ns:IdPMetadataServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/IdPMetadataService.IdPMetadataServiceHttpsSoap11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="IdPMetadataServiceHttpsSoap12Endpoint" binding="ns:IdPMetadataServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/IdPMetadataService.IdPMetadataServiceHttpsSoap12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="IdPMetadataServiceHttpsEndpoint" binding="ns:IdPMetadataServiceHttpBinding">
            <http:address location="https://localhost:9443/services/IdPMetadataService.IdPMetadataServiceHttpsEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
