service-stubs/org.wso2.carbon.identity.authorization.stub/src/main/resources/AuthorizationAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://core.authorization.identity.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2256="http://dto.core.authorization.identity.carbon.wso2.org/xsd" xmlns:ax2254="http://core.authorization.identity.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://core.authorization.identity.carbon.wso2.org">
    <wsdl:documentation>AuthorizationAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2255="http://core.authorization.identity.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2257="http://dto.core.authorization.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://core.authorization.identity.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://dto.core.authorization.identity.carbon.wso2.org/xsd"/>
            <xs:element name="AuthorizationAdminServiceIdentityAuthorizationException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="IdentityAuthorizationException" nillable="true" type="ax2254:IdentityAuthorizationException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateUserPermissions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="ax2256:UserPermission"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateRolePermissions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="ax2256:RolePermission"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateAuthorizedActions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="module" nillable="true" type="ax2256:PermissionModule"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeModule">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="request" nillable="true" type="ax2256:PermissionRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loadModules">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="loadModulesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2256:PermissionModule"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isAuthorized">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="request" nillable="true" type="ax2256:PermissionRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="isAuthorizedResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getVersion">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getVersionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPermissionList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="request" nillable="true" type="ax2256:PermissionRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPermissionListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2256:PermissionModule"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPermission">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="request" nillable="true" type="ax2256:PermissionRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPermissionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2256:Permission"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getModule">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getModuleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2256:PermissionModule"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteUserPermissions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="ax2256:UserPermission"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteRolePermissions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="ax2256:RolePermission"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deletePermission">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="ax2256:PermissionGroup"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createPermissions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="ax2256:PermissionGroup"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createModule">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="module" nillable="true" type="ax2256:PermissionModule"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createModuleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="clearPermissions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="clearRequest" nillable="true" type="ax2256:PermissionRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUserPermissions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="ax2256:UserPermission"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addRolePermissions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="ax2256:RolePermission"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://core.authorization.identity.carbon.wso2.org/xsd">
            <xs:complexType name="IdentityAuthorizationException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.core.authorization.identity.carbon.wso2.org/xsd">
            <xs:complexType abstract="true" name="PermissionAssignment">
                <xs:sequence>
                    <xs:element minOccurs="0" name="authorized" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="permissionId" type="xs:int"/>
                    <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UserPermission">
                <xs:complexContent>
                    <xs:extension base="ax2256:PermissionAssignment">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="RolePermission">
                <xs:complexContent>
                    <xs:extension base="ax2256:PermissionAssignment">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="PermissionModule">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="actions" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="deletedActions" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moduleId" type="xs:int"/>
                    <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="permissions" nillable="true" type="ax2256:Permission"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Permission">
                <xs:sequence>
                    <xs:element minOccurs="0" name="action" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="authorized" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="permissionId" type="xs:int"/>
                    <xs:element minOccurs="0" name="resourceId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="rolePermission" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectId" type="xs:int"/>
                    <xs:element minOccurs="0" name="subjectPermissionId" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PermissionRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="action" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="module" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moduleId" type="xs:int"/>
                    <xs:element minOccurs="0" name="resource" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="subjectId" type="xs:int"/>
                    <xs:element minOccurs="0" name="userPermissions" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PermissionGroup">
                <xs:sequence>
                    <xs:element minOccurs="0" name="action" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="moduleId" type="xs:int"/>
                    <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="permissionId" type="xs:int"/>
                    <xs:element minOccurs="0" name="resource" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="rolePermissions" nillable="true" type="ax2256:RolePermission"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="userPermissions" nillable="true" type="ax2256:UserPermission"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="deleteUserPermissionsRequest">
        <wsdl:part name="parameters" element="ns1:deleteUserPermissions"/>
    </wsdl:message>
    <wsdl:message name="AuthorizationAdminServiceIdentityAuthorizationException">
        <wsdl:part name="parameters" element="ns1:AuthorizationAdminServiceIdentityAuthorizationException"/>
    </wsdl:message>
    <wsdl:message name="clearPermissionsRequest">
        <wsdl:part name="parameters" element="ns1:clearPermissions"/>
    </wsdl:message>
    <wsdl:message name="isAuthorizedRequest">
        <wsdl:part name="parameters" element="ns1:isAuthorized"/>
    </wsdl:message>
    <wsdl:message name="isAuthorizedResponse">
        <wsdl:part name="parameters" element="ns1:isAuthorizedResponse"/>
    </wsdl:message>
    <wsdl:message name="removeModuleRequest">
        <wsdl:part name="parameters" element="ns1:removeModule"/>
    </wsdl:message>
    <wsdl:message name="getPermissionRequest">
        <wsdl:part name="parameters" element="ns1:getPermission"/>
    </wsdl:message>
    <wsdl:message name="getPermissionResponse">
        <wsdl:part name="parameters" element="ns1:getPermissionResponse"/>
    </wsdl:message>
    <wsdl:message name="updateAuthorizedActionsRequest">
        <wsdl:part name="parameters" element="ns1:updateAuthorizedActions"/>
    </wsdl:message>
    <wsdl:message name="addRolePermissionsRequest">
        <wsdl:part name="parameters" element="ns1:addRolePermissions"/>
    </wsdl:message>
    <wsdl:message name="deleteRolePermissionsRequest">
        <wsdl:part name="parameters" element="ns1:deleteRolePermissions"/>
    </wsdl:message>
    <wsdl:message name="getVersionRequest">
        <wsdl:part name="parameters" element="ns1:getVersion"/>
    </wsdl:message>
    <wsdl:message name="getVersionResponse">
        <wsdl:part name="parameters" element="ns1:getVersionResponse"/>
    </wsdl:message>
    <wsdl:message name="createModuleRequest">
        <wsdl:part name="parameters" element="ns1:createModule"/>
    </wsdl:message>
    <wsdl:message name="createModuleResponse">
        <wsdl:part name="parameters" element="ns1:createModuleResponse"/>
    </wsdl:message>
    <wsdl:message name="getModuleRequest">
        <wsdl:part name="parameters" element="ns1:getModule"/>
    </wsdl:message>
    <wsdl:message name="getModuleResponse">
        <wsdl:part name="parameters" element="ns1:getModuleResponse"/>
    </wsdl:message>
    <wsdl:message name="addUserPermissionsRequest">
        <wsdl:part name="parameters" element="ns1:addUserPermissions"/>
    </wsdl:message>
    <wsdl:message name="updateUserPermissionsRequest">
        <wsdl:part name="parameters" element="ns1:updateUserPermissions"/>
    </wsdl:message>
    <wsdl:message name="updateRolePermissionsRequest">
        <wsdl:part name="parameters" element="ns1:updateRolePermissions"/>
    </wsdl:message>
    <wsdl:message name="getPermissionListRequest">
        <wsdl:part name="parameters" element="ns1:getPermissionList"/>
    </wsdl:message>
    <wsdl:message name="getPermissionListResponse">
        <wsdl:part name="parameters" element="ns1:getPermissionListResponse"/>
    </wsdl:message>
    <wsdl:message name="createPermissionsRequest">
        <wsdl:part name="parameters" element="ns1:createPermissions"/>
    </wsdl:message>
    <wsdl:message name="deletePermissionRequest">
        <wsdl:part name="parameters" element="ns1:deletePermission"/>
    </wsdl:message>
    <wsdl:message name="loadModulesRequest">
        <wsdl:part name="parameters" element="ns1:loadModules"/>
    </wsdl:message>
    <wsdl:message name="loadModulesResponse">
        <wsdl:part name="parameters" element="ns1:loadModulesResponse"/>
    </wsdl:message>
    <wsdl:portType name="AuthorizationAdminServicePortType">
        <wsdl:operation name="deleteUserPermissions">
            <wsdl:input message="tns:deleteUserPermissionsRequest" wsaw:Action="urn:deleteUserPermissions"/>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:deleteUserPermissionsAuthorizationAdminServiceIdentityAuthorizationException"/>
        </wsdl:operation>
        <wsdl:operation name="clearPermissions">
            <wsdl:input message="tns:clearPermissionsRequest" wsaw:Action="urn:clearPermissions"/>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:clearPermissionsAuthorizationAdminServiceIdentityAuthorizationException"/>
        </wsdl:operation>
        <wsdl:operation name="isAuthorized">
            <wsdl:input message="tns:isAuthorizedRequest" wsaw:Action="urn:isAuthorized"/>
            <wsdl:output message="tns:isAuthorizedResponse" wsaw:Action="urn:isAuthorizedResponse"/>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:isAuthorizedAuthorizationAdminServiceIdentityAuthorizationException"/>
        </wsdl:operation>
        <wsdl:operation name="removeModule">
            <wsdl:input message="tns:removeModuleRequest" wsaw:Action="urn:removeModule"/>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:removeModuleAuthorizationAdminServiceIdentityAuthorizationException"/>
        </wsdl:operation>
        <wsdl:operation name="getPermission">
            <wsdl:input message="tns:getPermissionRequest" wsaw:Action="urn:getPermission"/>
            <wsdl:output message="tns:getPermissionResponse" wsaw:Action="urn:getPermissionResponse"/>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:getPermissionAuthorizationAdminServiceIdentityAuthorizationException"/>
        </wsdl:operation>
        <wsdl:operation name="updateAuthorizedActions">
            <wsdl:input message="tns:updateAuthorizedActionsRequest" wsaw:Action="urn:updateAuthorizedActions"/>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:updateAuthorizedActionsAuthorizationAdminServiceIdentityAuthorizationException"/>
        </wsdl:operation>
        <wsdl:operation name="addRolePermissions">
            <wsdl:input message="tns:addRolePermissionsRequest" wsaw:Action="urn:addRolePermissions"/>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:addRolePermissionsAuthorizationAdminServiceIdentityAuthorizationException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteRolePermissions">
            <wsdl:input message="tns:deleteRolePermissionsRequest" wsaw:Action="urn:deleteRolePermissions"/>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:deleteRolePermissionsAuthorizationAdminServiceIdentityAuthorizationException"/>
        </wsdl:operation>
        <wsdl:operation name="getVersion">
            <wsdl:input message="tns:getVersionRequest" wsaw:Action="urn:getVersion"/>
            <wsdl:output message="tns:getVersionResponse" wsaw:Action="urn:getVersionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createModule">
            <wsdl:input message="tns:createModuleRequest" wsaw:Action="urn:createModule"/>
            <wsdl:output message="tns:createModuleResponse" wsaw:Action="urn:createModuleResponse"/>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:createModuleAuthorizationAdminServiceIdentityAuthorizationException"/>
        </wsdl:operation>
        <wsdl:operation name="getModule">
            <wsdl:input message="tns:getModuleRequest" wsaw:Action="urn:getModule"/>
            <wsdl:output message="tns:getModuleResponse" wsaw:Action="urn:getModuleResponse"/>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:getModuleAuthorizationAdminServiceIdentityAuthorizationException"/>
        </wsdl:operation>
        <wsdl:operation name="addUserPermissions">
            <wsdl:input message="tns:addUserPermissionsRequest" wsaw:Action="urn:addUserPermissions"/>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:addUserPermissionsAuthorizationAdminServiceIdentityAuthorizationException"/>
        </wsdl:operation>
        <wsdl:operation name="updateUserPermissions">
            <wsdl:input message="tns:updateUserPermissionsRequest" wsaw:Action="urn:updateUserPermissions"/>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:updateUserPermissionsAuthorizationAdminServiceIdentityAuthorizationException"/>
        </wsdl:operation>
        <wsdl:operation name="updateRolePermissions">
            <wsdl:input message="tns:updateRolePermissionsRequest" wsaw:Action="urn:updateRolePermissions"/>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:updateRolePermissionsAuthorizationAdminServiceIdentityAuthorizationException"/>
        </wsdl:operation>
        <wsdl:operation name="getPermissionList">
            <wsdl:input message="tns:getPermissionListRequest" wsaw:Action="urn:getPermissionList"/>
            <wsdl:output message="tns:getPermissionListResponse" wsaw:Action="urn:getPermissionListResponse"/>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:getPermissionListAuthorizationAdminServiceIdentityAuthorizationException"/>
        </wsdl:operation>
        <wsdl:operation name="createPermissions">
            <wsdl:input message="tns:createPermissionsRequest" wsaw:Action="urn:createPermissions"/>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:createPermissionsAuthorizationAdminServiceIdentityAuthorizationException"/>
        </wsdl:operation>
        <wsdl:operation name="deletePermission">
            <wsdl:input message="tns:deletePermissionRequest" wsaw:Action="urn:deletePermission"/>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:deletePermissionAuthorizationAdminServiceIdentityAuthorizationException"/>
        </wsdl:operation>
        <wsdl:operation name="loadModules">
            <wsdl:input message="tns:loadModulesRequest" wsaw:Action="urn:loadModules"/>
            <wsdl:output message="tns:loadModulesResponse" wsaw:Action="urn:loadModulesResponse"/>
            <wsdl:fault message="tns:AuthorizationAdminServiceIdentityAuthorizationException" name="AuthorizationAdminServiceIdentityAuthorizationException" wsaw:Action="urn:loadModulesAuthorizationAdminServiceIdentityAuthorizationException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AuthorizationAdminServiceSoap11Binding" type="tns:AuthorizationAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="clearPermissions">
            <soap:operation soapAction="urn:clearPermissions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteUserPermissions">
            <soap:operation soapAction="urn:deleteUserPermissions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isAuthorized">
            <soap:operation soapAction="urn:isAuthorized" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeModule">
            <soap:operation soapAction="urn:removeModule" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPermission">
            <soap:operation soapAction="urn:getPermission" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateAuthorizedActions">
            <soap:operation soapAction="urn:updateAuthorizedActions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteRolePermissions">
            <soap:operation soapAction="urn:deleteRolePermissions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRolePermissions">
            <soap:operation soapAction="urn:addRolePermissions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createModule">
            <soap:operation soapAction="urn:createModule" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getVersion">
            <soap:operation soapAction="urn:getVersion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getModule">
            <soap:operation soapAction="urn:getModule" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addUserPermissions">
            <soap:operation soapAction="urn:addUserPermissions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateUserPermissions">
            <soap:operation soapAction="urn:updateUserPermissions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPermissionList">
            <soap:operation soapAction="urn:getPermissionList" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateRolePermissions">
            <soap:operation soapAction="urn:updateRolePermissions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deletePermission">
            <soap:operation soapAction="urn:deletePermission" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createPermissions">
            <soap:operation soapAction="urn:createPermissions" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="loadModules">
            <soap:operation soapAction="urn:loadModules" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AuthorizationAdminServiceSoap12Binding" type="tns:AuthorizationAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="clearPermissions">
            <soap12:operation soapAction="urn:clearPermissions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteUserPermissions">
            <soap12:operation soapAction="urn:deleteUserPermissions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="isAuthorized">
            <soap12:operation soapAction="urn:isAuthorized" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeModule">
            <soap12:operation soapAction="urn:removeModule" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPermission">
            <soap12:operation soapAction="urn:getPermission" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateAuthorizedActions">
            <soap12:operation soapAction="urn:updateAuthorizedActions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteRolePermissions">
            <soap12:operation soapAction="urn:deleteRolePermissions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addRolePermissions">
            <soap12:operation soapAction="urn:addRolePermissions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createModule">
            <soap12:operation soapAction="urn:createModule" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getVersion">
            <soap12:operation soapAction="urn:getVersion" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getModule">
            <soap12:operation soapAction="urn:getModule" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addUserPermissions">
            <soap12:operation soapAction="urn:addUserPermissions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateUserPermissions">
            <soap12:operation soapAction="urn:updateUserPermissions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getPermissionList">
            <soap12:operation soapAction="urn:getPermissionList" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateRolePermissions">
            <soap12:operation soapAction="urn:updateRolePermissions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deletePermission">
            <soap12:operation soapAction="urn:deletePermission" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="createPermissions">
            <soap12:operation soapAction="urn:createPermissions" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="loadModules">
            <soap12:operation soapAction="urn:loadModules" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AuthorizationAdminServiceIdentityAuthorizationException">
                <soap12:fault use="literal" name="AuthorizationAdminServiceIdentityAuthorizationException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AuthorizationAdminServiceHttpBinding" type="tns:AuthorizationAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="clearPermissions">
            <http:operation location="clearPermissions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteUserPermissions">
            <http:operation location="deleteUserPermissions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="isAuthorized">
            <http:operation location="isAuthorized"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeModule">
            <http:operation location="removeModule"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getPermission">
            <http:operation location="getPermission"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateAuthorizedActions">
            <http:operation location="updateAuthorizedActions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteRolePermissions">
            <http:operation location="deleteRolePermissions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="addRolePermissions">
            <http:operation location="addRolePermissions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="createModule">
            <http:operation location="createModule"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersion">
            <http:operation location="getVersion"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getModule">
            <http:operation location="getModule"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addUserPermissions">
            <http:operation location="addUserPermissions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="updateUserPermissions">
            <http:operation location="updateUserPermissions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getPermissionList">
            <http:operation location="getPermissionList"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateRolePermissions">
            <http:operation location="updateRolePermissions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deletePermission">
            <http:operation location="deletePermission"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="createPermissions">
            <http:operation location="createPermissions"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="loadModules">
            <http:operation location="loadModules"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AuthorizationAdminService">
        <wsdl:port name="AuthorizationAdminServiceHttpSoap11Endpoint" binding="tns:AuthorizationAdminServiceSoap11Binding">
            <soap:address location="http://localhost:9763/services/AuthorizationAdminService.AuthorizationAdminServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AuthorizationAdminServiceHttpsSoap11Endpoint" binding="tns:AuthorizationAdminServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/AuthorizationAdminService.AuthorizationAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AuthorizationAdminServiceHttpsSoap12Endpoint" binding="tns:AuthorizationAdminServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/AuthorizationAdminService.AuthorizationAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AuthorizationAdminServiceHttpSoap12Endpoint" binding="tns:AuthorizationAdminServiceSoap12Binding">
            <soap12:address location="http://localhost:9763/services/AuthorizationAdminService.AuthorizationAdminServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AuthorizationAdminServiceHttpEndpoint" binding="tns:AuthorizationAdminServiceHttpBinding">
            <http:address location="http://localhost:9763/services/AuthorizationAdminService.AuthorizationAdminServiceHttpEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="AuthorizationAdminServiceHttpsEndpoint" binding="tns:AuthorizationAdminServiceHttpBinding">
            <http:address location="https://localhost:9443/services/AuthorizationAdminService.AuthorizationAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>