service-stubs/org.wso2.carbon.identity.entitlement.stub/src/main/resources/EntitlementPolicyAdminService.wsdl


<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://entitlement.identity.carbon.wso2.org" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2256="http://dto.entitlement.identity.carbon.wso2.org/xsd" xmlns:ax2254="http://base.identity.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://entitlement.identity.carbon.wso2.org"> 
    <wsdl:documentation>EntitlementPolicyAdminService</wsdl:documentation> 
    <wsdl:types> 
        <xs:schema xmlns:ax2255="http://base.identity.carbon.wso2.org/xsd" xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2257="http://dto.entitlement.identity.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd"> 
            <xs:import namespace="http://base.identity.carbon.wso2.org/xsd"/> 
            <xs:import namespace="http://dto.entitlement.identity.carbon.wso2.org/xsd"/> 
            <xs:element name="EntitlementPolicyAdminServiceIdentityException"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="IdentityException" nillable="true" type="ax2254:IdentityException"/> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="updateSubscriber"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="holder" nillable="true" type="ax2256:ModuleDataHolder"/> 
                        <xs:element minOccurs="0" name="update" type="xs:boolean"/> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="updatePolicy"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="policy" nillable="true" type="ax2256:PolicyDTO"/> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="setGlobalPolicyAlgorithm"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="policyCombiningAlgorithm" nillable="true" type="xs:string"/> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="removePolicy"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="policy" nillable="true" type="ax2256:PolicyDTO"/> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="reOderPolicies"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="policyDTOs" nillable="true" type="ax2256:PolicyDTO"/> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="publishPolicies"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="policyIds" nillable="true" type="xs:string"/> 
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="subscriberIds" nillable="true" type="xs:string"/> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="importPolicyFromRegistry"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="policyRegistryPath" nillable="true" type="xs:string"/> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getSubscriberIds"> 
                <xs:complexType> 
                    <xs:sequence/> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getSubscriberIdsResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getSubscriber"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getSubscriberResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2256:ModuleDataHolder"/> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getPublisherModuleProperties"> 
                <xs:complexType> 
                    <xs:sequence/> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getPublisherModulePropertiesResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2256:ModuleDataHolder"/> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getPolicyAttributeValues"> 
                <xs:complexType> 
                    <xs:sequence/> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getPolicyAttributeValuesResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2256:PolicyEditorAttributeDTO"/> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getPolicy"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="policyId" nillable="true" type="xs:string"/> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getPolicyResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2256:PolicyDTO"/> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getMetaDataPolicy"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="policyId" nillable="true" type="xs:string"/> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getMetaDataPolicyResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2256:PolicyDTO"/> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getLightPolicy"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="policyId" nillable="true" type="xs:string"/> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getLightPolicyResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2256:PolicyDTO"/> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getGlobalPolicyAlgorithm"> 
                <xs:complexType> 
                    <xs:sequence/> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getGlobalPolicyAlgorithmResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getAllPolicyIds"> 
                <xs:complexType> 
                    <xs:sequence/> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getAllPolicyIdsResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getAllPolicies"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="policyTypeFilter" nillable="true" type="xs:string"/> 
                        <xs:element minOccurs="0" name="policySearchString" nillable="true" type="xs:string"/> 
                        <xs:element minOccurs="0" name="pageNumber" type="xs:int"/> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="getAllPoliciesResponse"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2256:PaginatedPolicySetDTO"/> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="deleteSubscriber"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="subscriberId" nillable="true" type="xs:string"/> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="addPolicy"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element minOccurs="0" name="policy" nillable="true" type="ax2256:PolicyDTO"/> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
            <xs:element name="addPolicies"> 
                <xs:complexType> 
                    <xs:sequence> 
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="policies" nillable="true" type="ax2256:PolicyDTO"/> 
                    </xs:sequence> 
                </xs:complexType> 
            </xs:element> 
        </xs:schema> 
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.entitlement.identity.carbon.wso2.org/xsd"> 
            <xs:complexType name="ModuleDataHolder"> 
                <xs:sequence> 
                    <xs:element minOccurs="0" name="latestStatus" nillable="true" type="ax2256:ModuleStatusHolder"/> 
                    <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string"/> 
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="propertyDTOs" nillable="true" type="ax2256:ModulePropertyDTO"/> 
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="statusHolders" nillable="true" type="ax2256:ModuleStatusHolder"/> 
                </xs:sequence> 
            </xs:complexType> 
            <xs:complexType name="ModuleStatusHolder"> 
                <xs:sequence> 
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/> 
                    <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/> 
                    <xs:element minOccurs="0" name="success" type="xs:boolean"/> 
                    <xs:element minOccurs="0" name="timeInstance" nillable="true" type="xs:string"/> 
                </xs:sequence> 
            </xs:complexType> 
            <xs:complexType name="ModulePropertyDTO"> 
                <xs:sequence> 
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/> 
                    <xs:element minOccurs="0" name="displayOrder" type="xs:int"/> 
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/> 
                    <xs:element minOccurs="0" name="module" nillable="true" type="xs:string"/> 
                    <xs:element minOccurs="0" name="required" type="xs:boolean"/> 
                    <xs:element minOccurs="0" name="secret" type="xs:boolean"/> 
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/> 
                </xs:sequence> 
            </xs:complexType> 
            <xs:complexType name="PolicyDTO"> 
                <xs:sequence> 
                    <xs:element minOccurs="0" name="active" type="xs:boolean"/> 
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="basicPolicyEditorMetaData" nillable="true" type="xs:string"/> 
                    <xs:element minOccurs="0" name="neighborId" nillable="true" type="xs:string"/> 
                    <xs:element minOccurs="0" name="policy" nillable="true" type="xs:string"/> 
                    <xs:element minOccurs="0" name="policyCanDelete" type="xs:boolean"/> 
                    <xs:element minOccurs="0" name="policyEditable" type="xs:boolean"/> 
                    <xs:element minOccurs="0" name="policyEditor" nillable="true" type="xs:string"/> 
                    <xs:element minOccurs="0" name="policyId" nillable="true" type="xs:string"/> 
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="policyIdReferences" nillable="true" type="xs:string"/> 
                    <xs:element minOccurs="0" name="policyLifeCycle" type="xs:int"/> 
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="policyMetaData" nillable="true" type="ax2256:AttributeDTO"/> 
                    <xs:element minOccurs="0" name="policyOrder" type="xs:int"/> 
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="policySetIdReferences" nillable="true" type="xs:string"/> 
                    <xs:element minOccurs="0" name="policyType" nillable="true" type="xs:string"/> 
                    <xs:element minOccurs="0" name="promote" type="xs:boolean"/> 
                </xs:sequence> 
            </xs:complexType> 
            <xs:complexType name="AttributeDTO"> 
                <xs:sequence> 
                    <xs:element minOccurs="0" name="attributeDataType" nillable="true" type="xs:string"/> 
                    <xs:element minOccurs="0" name="attributeId" nillable="true" type="xs:string"/> 
                    <xs:element minOccurs="0" name="attributeType" nillable="true" type="xs:string"/> 
                    <xs:element minOccurs="0" name="attributeValue" nillable="true" type="xs:string"/> 
                    <xs:element minOccurs="0" name="functionId" nillable="true" type="xs:string"/> 
                    <xs:element minOccurs="0" name="policyId" nillable="true" type="xs:string"/> 
                </xs:sequence> 
            </xs:complexType> 
            <xs:complexType name="PolicyEditorAttributeDTO"> 
                <xs:sequence> 
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="attributeIdDataTypes" nillable="true" type="xs:string"/> 
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="nodeDTOs" nillable="true" type="ax2256:AttributeTreeNodeDTO"/> 
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="supportedCategories" nillable="true" type="xs:string"/> 
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="supportedRuleFunctions" nillable="true" type="xs:string"/> 
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="supportedTargetFunctions" nillable="true" type="xs:string"/> 
                </xs:sequence> 
            </xs:complexType> 
            <xs:complexType name="AttributeTreeNodeDTO"> 
                <xs:sequence> 
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="attributeDataTypes" nillable="true" type="xs:string"/> 
                    <xs:element minOccurs="0" name="categoryId" nillable="true" type="xs:string"/> 
                    <xs:element minOccurs="0" name="categoryUri" nillable="true" type="xs:string"/> 
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="childNodes" nillable="true" type="ax2256:AttributeTreeNodeDTO"/> 
                    <xs:element minOccurs="0" name="defaultAttributeDataType" nillable="true" type="xs:string"/> 
                    <xs:element minOccurs="0" name="defaultAttributeId" nillable="true" type="xs:string"/> 
                    <xs:element minOccurs="0" name="fullPathSupported" type="xs:boolean"/> 
                    <xs:element minOccurs="0" name="hierarchicalTree" type="xs:boolean"/> 
                    <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string"/> 
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/> 
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="supportedAttributeIds" nillable="true" type="xs:string"/> 
                </xs:sequence> 
            </xs:complexType> 
            <xs:complexType name="PaginatedPolicySetDTO"> 
                <xs:sequence> 
                    <xs:element minOccurs="0" name="numberOfPages" type="xs:int"/> 
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="policySet" nillable="true" type="ax2256:PolicyDTO"/> 
                </xs:sequence> 
            </xs:complexType> 
        </xs:schema> 
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://base.identity.carbon.wso2.org/xsd"> 
            <xs:complexType name="IdentityException"> 
                <xs:sequence/> 
            </xs:complexType> 
        </xs:schema> 
    </wsdl:types> 
    <wsdl:message name="importPolicyFromRegistryRequest"> 
        <wsdl:part name="parameters" element="ns1:importPolicyFromRegistry"/> 
    </wsdl:message> 
    <wsdl:message name="EntitlementPolicyAdminServiceIdentityException"> 
        <wsdl:part name="parameters" element="ns1:EntitlementPolicyAdminServiceIdentityException"/> 
    </wsdl:message> 
    <wsdl:message name="getPublisherModulePropertiesRequest"> 
        <wsdl:part name="parameters" element="ns1:getPublisherModuleProperties"/> 
    </wsdl:message> 
    <wsdl:message name="getPublisherModulePropertiesResponse"> 
        <wsdl:part name="parameters" element="ns1:getPublisherModulePropertiesResponse"/> 
    </wsdl:message> 
    <wsdl:message name="setGlobalPolicyAlgorithmRequest"> 
        <wsdl:part name="parameters" element="ns1:setGlobalPolicyAlgorithm"/> 
    </wsdl:message> 
    <wsdl:message name="getPolicyAttributeValuesRequest"> 
        <wsdl:part name="parameters" element="ns1:getPolicyAttributeValues"/> 
    </wsdl:message> 
    <wsdl:message name="getPolicyAttributeValuesResponse"> 
        <wsdl:part name="parameters" element="ns1:getPolicyAttributeValuesResponse"/> 
    </wsdl:message> 
    <wsdl:message name="updateSubscriberRequest"> 
        <wsdl:part name="parameters" element="ns1:updateSubscriber"/> 
    </wsdl:message> 
    <wsdl:message name="updatePolicyRequest"> 
        <wsdl:part name="parameters" element="ns1:updatePolicy"/> 
    </wsdl:message> 
    <wsdl:message name="getSubscriberIdsRequest"> 
        <wsdl:part name="parameters" element="ns1:getSubscriberIds"/> 
    </wsdl:message> 
    <wsdl:message name="getSubscriberIdsResponse"> 
        <wsdl:part name="parameters" element="ns1:getSubscriberIdsResponse"/> 
    </wsdl:message> 
    <wsdl:message name="addPolicyRequest"> 
        <wsdl:part name="parameters" element="ns1:addPolicy"/> 
    </wsdl:message> 
    <wsdl:message name="getAllPolicyIdsRequest"> 
        <wsdl:part name="parameters" element="ns1:getAllPolicyIds"/> 
    </wsdl:message> 
    <wsdl:message name="getAllPolicyIdsResponse"> 
        <wsdl:part name="parameters" element="ns1:getAllPolicyIdsResponse"/> 
    </wsdl:message> 
    <wsdl:message name="getSubscriberRequest"> 
        <wsdl:part name="parameters" element="ns1:getSubscriber"/> 
    </wsdl:message> 
    <wsdl:message name="getSubscriberResponse"> 
        <wsdl:part name="parameters" element="ns1:getSubscriberResponse"/> 
    </wsdl:message> 
    <wsdl:message name="reOderPoliciesRequest"> 
        <wsdl:part name="parameters" element="ns1:reOderPolicies"/> 
    </wsdl:message> 
    <wsdl:message name="addPoliciesRequest"> 
        <wsdl:part name="parameters" element="ns1:addPolicies"/> 
    </wsdl:message> 
    <wsdl:message name="getGlobalPolicyAlgorithmRequest"> 
        <wsdl:part name="parameters" element="ns1:getGlobalPolicyAlgorithm"/> 
    </wsdl:message> 
    <wsdl:message name="getGlobalPolicyAlgorithmResponse"> 
        <wsdl:part name="parameters" element="ns1:getGlobalPolicyAlgorithmResponse"/> 
    </wsdl:message> 
    <wsdl:message name="getMetaDataPolicyRequest"> 
        <wsdl:part name="parameters" element="ns1:getMetaDataPolicy"/> 
    </wsdl:message> 
    <wsdl:message name="getMetaDataPolicyResponse"> 
        <wsdl:part name="parameters" element="ns1:getMetaDataPolicyResponse"/> 
    </wsdl:message> 
    <wsdl:message name="getAllPoliciesRequest"> 
        <wsdl:part name="parameters" element="ns1:getAllPolicies"/> 
    </wsdl:message> 
    <wsdl:message name="getAllPoliciesResponse"> 
        <wsdl:part name="parameters" element="ns1:getAllPoliciesResponse"/> 
    </wsdl:message> 
    <wsdl:message name="deleteSubscriberRequest"> 
        <wsdl:part name="parameters" element="ns1:deleteSubscriber"/> 
    </wsdl:message> 
    <wsdl:message name="removePolicyRequest"> 
        <wsdl:part name="parameters" element="ns1:removePolicy"/> 
    </wsdl:message> 
    <wsdl:message name="getLightPolicyRequest"> 
        <wsdl:part name="parameters" element="ns1:getLightPolicy"/> 
    </wsdl:message> 
    <wsdl:message name="getLightPolicyResponse"> 
        <wsdl:part name="parameters" element="ns1:getLightPolicyResponse"/> 
    </wsdl:message> 
    <wsdl:message name="publishPoliciesRequest"> 
        <wsdl:part name="parameters" element="ns1:publishPolicies"/> 
    </wsdl:message> 
    <wsdl:message name="getPolicyRequest"> 
        <wsdl:part name="parameters" element="ns1:getPolicy"/> 
    </wsdl:message> 
    <wsdl:message name="getPolicyResponse"> 
        <wsdl:part name="parameters" element="ns1:getPolicyResponse"/> 
    </wsdl:message> 
    <wsdl:portType name="EntitlementPolicyAdminServicePortType"> 
        <wsdl:operation name="importPolicyFromRegistry"> 
            <wsdl:input message="tns:importPolicyFromRegistryRequest" wsaw:Action="urn:importPolicyFromRegistry"/> 
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceIdentityException" name="EntitlementPolicyAdminServiceIdentityException" wsaw:Action="urn:importPolicyFromRegistryEntitlementPolicyAdminServiceIdentityException"/> 
        </wsdl:operation> 
        <wsdl:operation name="getPublisherModuleProperties"> 
            <wsdl:input message="tns:getPublisherModulePropertiesRequest" wsaw:Action="urn:getPublisherModuleProperties"/> 
            <wsdl:output message="tns:getPublisherModulePropertiesResponse" wsaw:Action="urn:getPublisherModulePropertiesResponse"/> 
        </wsdl:operation> 
        <wsdl:operation name="setGlobalPolicyAlgorithm"> 
            <wsdl:input message="tns:setGlobalPolicyAlgorithmRequest" wsaw:Action="urn:setGlobalPolicyAlgorithm"/> 
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceIdentityException" name="EntitlementPolicyAdminServiceIdentityException" wsaw:Action="urn:setGlobalPolicyAlgorithmEntitlementPolicyAdminServiceIdentityException"/> 
        </wsdl:operation> 
        <wsdl:operation name="getPolicyAttributeValues"> 
            <wsdl:input message="tns:getPolicyAttributeValuesRequest" wsaw:Action="urn:getPolicyAttributeValues"/> 
            <wsdl:output message="tns:getPolicyAttributeValuesResponse" wsaw:Action="urn:getPolicyAttributeValuesResponse"/> 
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceIdentityException" name="EntitlementPolicyAdminServiceIdentityException" wsaw:Action="urn:getPolicyAttributeValuesEntitlementPolicyAdminServiceIdentityException"/> 
        </wsdl:operation> 
        <wsdl:operation name="updateSubscriber"> 
            <wsdl:input message="tns:updateSubscriberRequest" wsaw:Action="urn:updateSubscriber"/> 
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceIdentityException" name="EntitlementPolicyAdminServiceIdentityException" wsaw:Action="urn:updateSubscriberEntitlementPolicyAdminServiceIdentityException"/> 
        </wsdl:operation> 
        <wsdl:operation name="updatePolicy"> 
            <wsdl:input message="tns:updatePolicyRequest" wsaw:Action="urn:updatePolicy"/> 
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceIdentityException" name="EntitlementPolicyAdminServiceIdentityException" wsaw:Action="urn:updatePolicyEntitlementPolicyAdminServiceIdentityException"/> 
        </wsdl:operation> 
        <wsdl:operation name="getSubscriberIds"> 
            <wsdl:input message="tns:getSubscriberIdsRequest" wsaw:Action="urn:getSubscriberIds"/> 
            <wsdl:output message="tns:getSubscriberIdsResponse" wsaw:Action="urn:getSubscriberIdsResponse"/> 
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceIdentityException" name="EntitlementPolicyAdminServiceIdentityException" wsaw:Action="urn:getSubscriberIdsEntitlementPolicyAdminServiceIdentityException"/> 
        </wsdl:operation> 
        <wsdl:operation name="addPolicy"> 
            <wsdl:input message="tns:addPolicyRequest" wsaw:Action="urn:addPolicy"/> 
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceIdentityException" name="EntitlementPolicyAdminServiceIdentityException" wsaw:Action="urn:addPolicyEntitlementPolicyAdminServiceIdentityException"/> 
        </wsdl:operation> 
        <wsdl:operation name="getAllPolicyIds"> 
            <wsdl:input message="tns:getAllPolicyIdsRequest" wsaw:Action="urn:getAllPolicyIds"/> 
            <wsdl:output message="tns:getAllPolicyIdsResponse" wsaw:Action="urn:getAllPolicyIdsResponse"/> 
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceIdentityException" name="EntitlementPolicyAdminServiceIdentityException" wsaw:Action="urn:getAllPolicyIdsEntitlementPolicyAdminServiceIdentityException"/> 
        </wsdl:operation> 
        <wsdl:operation name="getSubscriber"> 
            <wsdl:input message="tns:getSubscriberRequest" wsaw:Action="urn:getSubscriber"/> 
            <wsdl:output message="tns:getSubscriberResponse" wsaw:Action="urn:getSubscriberResponse"/> 
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceIdentityException" name="EntitlementPolicyAdminServiceIdentityException" wsaw:Action="urn:getSubscriberEntitlementPolicyAdminServiceIdentityException"/> 
        </wsdl:operation> 
        <wsdl:operation name="reOderPolicies"> 
            <wsdl:input message="tns:reOderPoliciesRequest" wsaw:Action="urn:reOderPolicies"/> 
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceIdentityException" name="EntitlementPolicyAdminServiceIdentityException" wsaw:Action="urn:reOderPoliciesEntitlementPolicyAdminServiceIdentityException"/> 
        </wsdl:operation> 
        <wsdl:operation name="addPolicies"> 
            <wsdl:input message="tns:addPoliciesRequest" wsaw:Action="urn:addPolicies"/> 
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceIdentityException" name="EntitlementPolicyAdminServiceIdentityException" wsaw:Action="urn:addPoliciesEntitlementPolicyAdminServiceIdentityException"/> 
        </wsdl:operation> 
        <wsdl:operation name="getGlobalPolicyAlgorithm"> 
            <wsdl:input message="tns:getGlobalPolicyAlgorithmRequest" wsaw:Action="urn:getGlobalPolicyAlgorithm"/> 
            <wsdl:output message="tns:getGlobalPolicyAlgorithmResponse" wsaw:Action="urn:getGlobalPolicyAlgorithmResponse"/> 
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceIdentityException" name="EntitlementPolicyAdminServiceIdentityException" wsaw:Action="urn:getGlobalPolicyAlgorithmEntitlementPolicyAdminServiceIdentityException"/> 
        </wsdl:operation> 
        <wsdl:operation name="getMetaDataPolicy"> 
            <wsdl:input message="tns:getMetaDataPolicyRequest" wsaw:Action="urn:getMetaDataPolicy"/> 
            <wsdl:output message="tns:getMetaDataPolicyResponse" wsaw:Action="urn:getMetaDataPolicyResponse"/> 
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceIdentityException" name="EntitlementPolicyAdminServiceIdentityException" wsaw:Action="urn:getMetaDataPolicyEntitlementPolicyAdminServiceIdentityException"/> 
        </wsdl:operation> 
        <wsdl:operation name="getAllPolicies"> 
            <wsdl:input message="tns:getAllPoliciesRequest" wsaw:Action="urn:getAllPolicies"/> 
            <wsdl:output message="tns:getAllPoliciesResponse" wsaw:Action="urn:getAllPoliciesResponse"/> 
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceIdentityException" name="EntitlementPolicyAdminServiceIdentityException" wsaw:Action="urn:getAllPoliciesEntitlementPolicyAdminServiceIdentityException"/> 
        </wsdl:operation> 
        <wsdl:operation name="deleteSubscriber"> 
            <wsdl:input message="tns:deleteSubscriberRequest" wsaw:Action="urn:deleteSubscriber"/> 
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceIdentityException" name="EntitlementPolicyAdminServiceIdentityException" wsaw:Action="urn:deleteSubscriberEntitlementPolicyAdminServiceIdentityException"/> 
        </wsdl:operation> 
        <wsdl:operation name="removePolicy"> 
            <wsdl:input message="tns:removePolicyRequest" wsaw:Action="urn:removePolicy"/> 
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceIdentityException" name="EntitlementPolicyAdminServiceIdentityException" wsaw:Action="urn:removePolicyEntitlementPolicyAdminServiceIdentityException"/> 
        </wsdl:operation> 
        <wsdl:operation name="getLightPolicy"> 
            <wsdl:input message="tns:getLightPolicyRequest" wsaw:Action="urn:getLightPolicy"/> 
            <wsdl:output message="tns:getLightPolicyResponse" wsaw:Action="urn:getLightPolicyResponse"/> 
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceIdentityException" name="EntitlementPolicyAdminServiceIdentityException" wsaw:Action="urn:getLightPolicyEntitlementPolicyAdminServiceIdentityException"/> 
        </wsdl:operation> 
        <wsdl:operation name="publishPolicies"> 
            <wsdl:input message="tns:publishPoliciesRequest" wsaw:Action="urn:publishPolicies"/> 
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceIdentityException" name="EntitlementPolicyAdminServiceIdentityException" wsaw:Action="urn:publishPoliciesEntitlementPolicyAdminServiceIdentityException"/> 
        </wsdl:operation> 
        <wsdl:operation name="getPolicy"> 
            <wsdl:input message="tns:getPolicyRequest" wsaw:Action="urn:getPolicy"/> 
            <wsdl:output message="tns:getPolicyResponse" wsaw:Action="urn:getPolicyResponse"/> 
            <wsdl:fault message="tns:EntitlementPolicyAdminServiceIdentityException" name="EntitlementPolicyAdminServiceIdentityException" wsaw:Action="urn:getPolicyEntitlementPolicyAdminServiceIdentityException"/> 
        </wsdl:operation> 
    </wsdl:portType> 
    <wsdl:binding name="EntitlementPolicyAdminServiceSoap11Binding" type="tns:EntitlementPolicyAdminServicePortType"> 
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/> 
        <wsdl:operation name="importPolicyFromRegistry"> 
            <soap:operation soapAction="urn:importPolicyFromRegistry" style="document"/> 
            <wsdl:input> 
                <soap:body use="literal"/> 
            </wsdl:input> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="setGlobalPolicyAlgorithm"> 
            <soap:operation soapAction="urn:setGlobalPolicyAlgorithm" style="document"/> 
            <wsdl:input> 
                <soap:body use="literal"/> 
            </wsdl:input> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="getPublisherModuleProperties"> 
            <soap:operation soapAction="urn:getPublisherModuleProperties" style="document"/> 
            <wsdl:input> 
                <soap:body use="literal"/> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal"/> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="getPolicyAttributeValues"> 
            <soap:operation soapAction="urn:getPolicyAttributeValues" style="document"/> 
            <wsdl:input> 
                <soap:body use="literal"/> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal"/> 
            </wsdl:output> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="updateSubscriber"> 
            <soap:operation soapAction="urn:updateSubscriber" style="document"/> 
            <wsdl:input> 
                <soap:body use="literal"/> 
            </wsdl:input> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="updatePolicy"> 
            <soap:operation soapAction="urn:updatePolicy" style="document"/> 
            <wsdl:input> 
                <soap:body use="literal"/> 
            </wsdl:input> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="getSubscriberIds"> 
            <soap:operation soapAction="urn:getSubscriberIds" style="document"/> 
            <wsdl:input> 
                <soap:body use="literal"/> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal"/> 
            </wsdl:output> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="getAllPolicyIds"> 
            <soap:operation soapAction="urn:getAllPolicyIds" style="document"/> 
            <wsdl:input> 
                <soap:body use="literal"/> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal"/> 
            </wsdl:output> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="addPolicy"> 
            <soap:operation soapAction="urn:addPolicy" style="document"/> 
            <wsdl:input> 
                <soap:body use="literal"/> 
            </wsdl:input> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="getSubscriber"> 
            <soap:operation soapAction="urn:getSubscriber" style="document"/> 
            <wsdl:input> 
                <soap:body use="literal"/> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal"/> 
            </wsdl:output> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="reOderPolicies"> 
            <soap:operation soapAction="urn:reOderPolicies" style="document"/> 
            <wsdl:input> 
                <soap:body use="literal"/> 
            </wsdl:input> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="addPolicies"> 
            <soap:operation soapAction="urn:addPolicies" style="document"/> 
            <wsdl:input> 
                <soap:body use="literal"/> 
            </wsdl:input> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="getGlobalPolicyAlgorithm"> 
            <soap:operation soapAction="urn:getGlobalPolicyAlgorithm" style="document"/> 
            <wsdl:input> 
                <soap:body use="literal"/> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal"/> 
            </wsdl:output> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="getMetaDataPolicy"> 
            <soap:operation soapAction="urn:getMetaDataPolicy" style="document"/> 
            <wsdl:input> 
                <soap:body use="literal"/> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal"/> 
            </wsdl:output> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="getAllPolicies"> 
            <soap:operation soapAction="urn:getAllPolicies" style="document"/> 
            <wsdl:input> 
                <soap:body use="literal"/> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal"/> 
            </wsdl:output> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="deleteSubscriber"> 
            <soap:operation soapAction="urn:deleteSubscriber" style="document"/> 
            <wsdl:input> 
                <soap:body use="literal"/> 
            </wsdl:input> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="removePolicy"> 
            <soap:operation soapAction="urn:removePolicy" style="document"/> 
            <wsdl:input> 
                <soap:body use="literal"/> 
            </wsdl:input> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="getLightPolicy"> 
            <soap:operation soapAction="urn:getLightPolicy" style="document"/> 
            <wsdl:input> 
                <soap:body use="literal"/> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal"/> 
            </wsdl:output> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="publishPolicies"> 
            <soap:operation soapAction="urn:publishPolicies" style="document"/> 
            <wsdl:input> 
                <soap:body use="literal"/> 
            </wsdl:input> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="getPolicy"> 
            <soap:operation soapAction="urn:getPolicy" style="document"/> 
            <wsdl:input> 
                <soap:body use="literal"/> 
            </wsdl:input> 
            <wsdl:output> 
                <soap:body use="literal"/> 
            </wsdl:output> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
    </wsdl:binding> 
    <wsdl:binding name="EntitlementPolicyAdminServiceSoap12Binding" type="tns:EntitlementPolicyAdminServicePortType"> 
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/> 
        <wsdl:operation name="importPolicyFromRegistry"> 
            <soap12:operation soapAction="urn:importPolicyFromRegistry" style="document"/> 
            <wsdl:input> 
                <soap12:body use="literal"/> 
            </wsdl:input> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="setGlobalPolicyAlgorithm"> 
            <soap12:operation soapAction="urn:setGlobalPolicyAlgorithm" style="document"/> 
            <wsdl:input> 
                <soap12:body use="literal"/> 
            </wsdl:input> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="getPublisherModuleProperties"> 
            <soap12:operation soapAction="urn:getPublisherModuleProperties" style="document"/> 
            <wsdl:input> 
                <soap12:body use="literal"/> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal"/> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="getPolicyAttributeValues"> 
            <soap12:operation soapAction="urn:getPolicyAttributeValues" style="document"/> 
            <wsdl:input> 
                <soap12:body use="literal"/> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal"/> 
            </wsdl:output> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="updateSubscriber"> 
            <soap12:operation soapAction="urn:updateSubscriber" style="document"/> 
            <wsdl:input> 
                <soap12:body use="literal"/> 
            </wsdl:input> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="updatePolicy"> 
            <soap12:operation soapAction="urn:updatePolicy" style="document"/> 
            <wsdl:input> 
                <soap12:body use="literal"/> 
            </wsdl:input> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="getSubscriberIds"> 
            <soap12:operation soapAction="urn:getSubscriberIds" style="document"/> 
            <wsdl:input> 
                <soap12:body use="literal"/> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal"/> 
            </wsdl:output> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="getAllPolicyIds"> 
            <soap12:operation soapAction="urn:getAllPolicyIds" style="document"/> 
            <wsdl:input> 
                <soap12:body use="literal"/> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal"/> 
            </wsdl:output> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="addPolicy"> 
            <soap12:operation soapAction="urn:addPolicy" style="document"/> 
            <wsdl:input> 
                <soap12:body use="literal"/> 
            </wsdl:input> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="getSubscriber"> 
            <soap12:operation soapAction="urn:getSubscriber" style="document"/> 
            <wsdl:input> 
                <soap12:body use="literal"/> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal"/> 
            </wsdl:output> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="reOderPolicies"> 
            <soap12:operation soapAction="urn:reOderPolicies" style="document"/> 
            <wsdl:input> 
                <soap12:body use="literal"/> 
            </wsdl:input> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="addPolicies"> 
            <soap12:operation soapAction="urn:addPolicies" style="document"/> 
            <wsdl:input> 
                <soap12:body use="literal"/> 
            </wsdl:input> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="getGlobalPolicyAlgorithm"> 
            <soap12:operation soapAction="urn:getGlobalPolicyAlgorithm" style="document"/> 
            <wsdl:input> 
                <soap12:body use="literal"/> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal"/> 
            </wsdl:output> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="getMetaDataPolicy"> 
            <soap12:operation soapAction="urn:getMetaDataPolicy" style="document"/> 
            <wsdl:input> 
                <soap12:body use="literal"/> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal"/> 
            </wsdl:output> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="getAllPolicies"> 
            <soap12:operation soapAction="urn:getAllPolicies" style="document"/> 
            <wsdl:input> 
                <soap12:body use="literal"/> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal"/> 
            </wsdl:output> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="deleteSubscriber"> 
            <soap12:operation soapAction="urn:deleteSubscriber" style="document"/> 
            <wsdl:input> 
                <soap12:body use="literal"/> 
            </wsdl:input> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="removePolicy"> 
            <soap12:operation soapAction="urn:removePolicy" style="document"/> 
            <wsdl:input> 
                <soap12:body use="literal"/> 
            </wsdl:input> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="getLightPolicy"> 
            <soap12:operation soapAction="urn:getLightPolicy" style="document"/> 
            <wsdl:input> 
                <soap12:body use="literal"/> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal"/> 
            </wsdl:output> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="publishPolicies"> 
            <soap12:operation soapAction="urn:publishPolicies" style="document"/> 
            <wsdl:input> 
                <soap12:body use="literal"/> 
            </wsdl:input> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
        <wsdl:operation name="getPolicy"> 
            <soap12:operation soapAction="urn:getPolicy" style="document"/> 
            <wsdl:input> 
                <soap12:body use="literal"/> 
            </wsdl:input> 
            <wsdl:output> 
                <soap12:body use="literal"/> 
            </wsdl:output> 
            <wsdl:fault name="EntitlementPolicyAdminServiceIdentityException"> 
                <soap12:fault use="literal" name="EntitlementPolicyAdminServiceIdentityException"/> 
            </wsdl:fault> 
        </wsdl:operation> 
    </wsdl:binding> 
    <wsdl:binding name="EntitlementPolicyAdminServiceHttpBinding" type="tns:EntitlementPolicyAdminServicePortType"> 
        <http:binding verb="POST"/> 
        <wsdl:operation name="importPolicyFromRegistry"> 
            <http:operation location="importPolicyFromRegistry"/> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:input> 
        </wsdl:operation> 
        <wsdl:operation name="setGlobalPolicyAlgorithm"> 
            <http:operation location="setGlobalPolicyAlgorithm"/> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:input> 
        </wsdl:operation> 
        <wsdl:operation name="getPublisherModuleProperties"> 
            <http:operation location="getPublisherModuleProperties"/> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="getPolicyAttributeValues"> 
            <http:operation location="getPolicyAttributeValues"/> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="updateSubscriber"> 
            <http:operation location="updateSubscriber"/> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:input> 
        </wsdl:operation> 
        <wsdl:operation name="updatePolicy"> 
            <http:operation location="updatePolicy"/> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:input> 
        </wsdl:operation> 
        <wsdl:operation name="getSubscriberIds"> 
            <http:operation location="getSubscriberIds"/> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="getAllPolicyIds"> 
            <http:operation location="getAllPolicyIds"/> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="addPolicy"> 
            <http:operation location="addPolicy"/> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:input> 
        </wsdl:operation> 
        <wsdl:operation name="getSubscriber"> 
            <http:operation location="getSubscriber"/> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="reOderPolicies"> 
            <http:operation location="reOderPolicies"/> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:input> 
        </wsdl:operation> 
        <wsdl:operation name="addPolicies"> 
            <http:operation location="addPolicies"/> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:input> 
        </wsdl:operation> 
        <wsdl:operation name="getGlobalPolicyAlgorithm"> 
            <http:operation location="getGlobalPolicyAlgorithm"/> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="getMetaDataPolicy"> 
            <http:operation location="getMetaDataPolicy"/> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="getAllPolicies"> 
            <http:operation location="getAllPolicies"/> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="deleteSubscriber"> 
            <http:operation location="deleteSubscriber"/> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:input> 
        </wsdl:operation> 
        <wsdl:operation name="removePolicy"> 
            <http:operation location="removePolicy"/> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:input> 
        </wsdl:operation> 
        <wsdl:operation name="getLightPolicy"> 
            <http:operation location="getLightPolicy"/> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:output> 
        </wsdl:operation> 
        <wsdl:operation name="publishPolicies"> 
            <http:operation location="publishPolicies"/> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:input> 
        </wsdl:operation> 
        <wsdl:operation name="getPolicy"> 
            <http:operation location="getPolicy"/> 
            <wsdl:input> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:input> 
            <wsdl:output> 
                <mime:content type="text/xml" part="parameters"/> 
            </wsdl:output> 
        </wsdl:operation> 
    </wsdl:binding> 
    <wsdl:service name="EntitlementPolicyAdminService"> 
        <wsdl:port name="EntitlementPolicyAdminServiceHttpsSoap11Endpoint" binding="tns:EntitlementPolicyAdminServiceSoap11Binding"> 
            <soap:address location="https://localhost:9443/services/EntitlementPolicyAdminService.EntitlementPolicyAdminServiceHttpsSoap11Endpoint/"/> 
        </wsdl:port> 
        <wsdl:port name="EntitlementPolicyAdminServiceHttpsSoap12Endpoint" binding="tns:EntitlementPolicyAdminServiceSoap12Binding"> 
            <soap12:address location="https://localhost:9443/services/EntitlementPolicyAdminService.EntitlementPolicyAdminServiceHttpsSoap12Endpoint/"/> 
        </wsdl:port> 
        <wsdl:port name="EntitlementPolicyAdminServiceHttpsEndpoint" binding="tns:EntitlementPolicyAdminServiceHttpBinding"> 
            <http:address location="https://localhost:9443/services/EntitlementPolicyAdminService.EntitlementPolicyAdminServiceHttpsEndpoint/"/> 
        </wsdl:port> 
    </wsdl:service> 
</wsdl:definitions>
