products/appfactory/modules/bpels/CreateTenant/AppFactoryTenantToolInitializerService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.core.appfactory.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.core.appfactory.carbon.wso2.org">
    <wsdl:documentation>AppFactoryTenantToolInitializerService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.core.appfactory.carbon.wso2.org">
            <xs:element name="initializeRepositoryManager">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="usagePlan" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="initializeRepositoryManagerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="initializeBuildManager">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tenantDomain" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="usagePlan" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="initializeBuildManagerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="initializeBuildManagerRequest">
        <wsdl:part name="parameters" element="ns:initializeBuildManager"/>
    </wsdl:message>
    <wsdl:message name="initializeBuildManagerResponse">
        <wsdl:part name="parameters" element="ns:initializeBuildManagerResponse"/>
    </wsdl:message>
    <wsdl:message name="initializeRepositoryManagerRequest">
        <wsdl:part name="parameters" element="ns:initializeRepositoryManager"/>
    </wsdl:message>
    <wsdl:message name="initializeRepositoryManagerResponse">
        <wsdl:part name="parameters" element="ns:initializeRepositoryManagerResponse"/>
    </wsdl:message>
    <wsdl:portType name="AppFactoryTenantToolInitializerServicePortType">
        <wsdl:operation name="initializeBuildManager">
            <wsdl:input message="ns:initializeBuildManagerRequest" wsaw:Action="urn:initializeBuildManager"/>
            <wsdl:output message="ns:initializeBuildManagerResponse" wsaw:Action="urn:initializeBuildManagerResponse"/>
        </wsdl:operation>
        <wsdl:operation name="initializeRepositoryManager">
            <wsdl:input message="ns:initializeRepositoryManagerRequest" wsaw:Action="urn:initializeRepositoryManager"/>
            <wsdl:output message="ns:initializeRepositoryManagerResponse" wsaw:Action="urn:initializeRepositoryManagerResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AppFactoryTenantToolInitializerServiceSoap11Binding" type="ns:AppFactoryTenantToolInitializerServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="initializeRepositoryManager">
            <soap:operation soapAction="urn:initializeRepositoryManager" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="initializeBuildManager">
            <soap:operation soapAction="urn:initializeBuildManager" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AppFactoryTenantToolInitializerServiceSoap12Binding" type="ns:AppFactoryTenantToolInitializerServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="initializeRepositoryManager">
            <soap12:operation soapAction="urn:initializeRepositoryManager" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="initializeBuildManager">
            <soap12:operation soapAction="urn:initializeBuildManager" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AppFactoryTenantToolInitializerServiceHttpBinding" type="ns:AppFactoryTenantToolInitializerServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="initializeRepositoryManager">
            <http:operation location="initializeRepositoryManager"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="initializeBuildManager">
            <http:operation location="initializeBuildManager"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AppFactoryTenantToolInitializerService">
        <wsdl:port name="AppFactoryTenantToolInitializerServiceHttpsSoap11Endpoint" binding="ns:AppFactoryTenantToolInitializerServiceSoap11Binding">
            <soap:address location="https://appfactorypreview.wso2.com:9443/services/AppFactoryTenantToolInitializerService.AppFactoryTenantToolInitializerServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AppFactoryTenantToolInitializerServiceHttpsSoap12Endpoint" binding="ns:AppFactoryTenantToolInitializerServiceSoap12Binding">
            <soap12:address location="https://appfactorypreview.wso2.com:9443/services/AppFactoryTenantToolInitializerService.AppFactoryTenantToolInitializerServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="AppFactoryTenantToolInitializerServiceHttpsEndpoint" binding="ns:AppFactoryTenantToolInitializerServiceHttpBinding">
            <http:address location="https://appfactorypreview.wso2.com:9443/services/AppFactoryTenantToolInitializerService.AppFactoryTenantToolInitializerServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>