service-stubs/org.wso2.carbon.event.formatter.stub/src/main/resources/EventFormatterAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2106="http://internal.admin.formatter.event.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://internal.admin.formatter.event.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://internal.admin.formatter.event.carbon.wso2.org">
    <wsdl:documentation>EventFormatterAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://internal.admin.formatter.event.carbon.wso2.org/xsd">
            <xs:complexType name="EventFormatterConfigurationFileDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="eventFormatterName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventFormatterPropertyDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="defaultValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="hint" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="options" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="required" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="secured" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventFormatterConfigurationDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="eventFormatterName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fromStreamNameWithVersion" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="jsonOutputMappingDto" nillable="true" type="ax2106:JSONOutputMappingDto"/>
                    <xs:element minOccurs="0" name="mapOutputMappingDto" nillable="true" type="ax2106:MapOutputMappingDto"/>
                    <xs:element minOccurs="0" name="mappingType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="streamDefinition" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="textOutputMappingDto" nillable="true" type="ax2106:TextOutputMappingDto"/>
                    <xs:element minOccurs="0" name="toPropertyConfigurationDto" nillable="true" type="ax2106:ToPropertyConfigurationDto"/>
                    <xs:element minOccurs="0" name="wso2EventOutputMappingDto" nillable="true" type="ax2106:WSO2EventOutputMappingDto"/>
                    <xs:element minOccurs="0" name="xmlOutputMappingDto" nillable="true" type="ax2106:XMLOutputMappingDto"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="JSONOutputMappingDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="mappingText" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="registryResource" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="MapOutputMappingDto">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="outputPropertyConfiguration" nillable="true" type="ax2106:EventOutputPropertyDto"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventOutputPropertyDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="valueOf" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TextOutputMappingDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="mappingText" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="registryResource" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ToPropertyConfigurationDto">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="outputTransportAdaptorMessageConfiguration" nillable="true" type="ax2106:EventFormatterPropertyDto"/>
                    <xs:element minOccurs="0" name="transportAdaptorName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transportAdaptorType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="WSO2EventOutputMappingDto">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="correlationWSO2EventOutputPropertyConfigurationDto" nillable="true" type="ax2106:EventOutputPropertyDto"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="metaWSO2EventOutputPropertyConfigurationDto" nillable="true" type="ax2106:EventOutputPropertyDto"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="payloadWSO2EventOutputPropertyConfigurationDto" nillable="true" type="ax2106:EventOutputPropertyDto"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="XMLOutputMappingDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="mappingXMLText" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="registryResource" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventFormatterConfigurationInfoDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="enableStats" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="enableTracing" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="eventFormatterName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mappingType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="outTransportAdaptorName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="outputTransportAdaptorType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EventOutputPropertyConfigurationDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="valueOf" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2107="http://internal.admin.formatter.event.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://internal.admin.formatter.event.carbon.wso2.org">
            <xs:import namespace="http://internal.admin.formatter.event.carbon.wso2.org/xsd"/>
            <xs:element name="removeEventFormatterConfigurationFile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeEventFormatterConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventFormatterName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSupportedMappingTypes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportAdaptorName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSupportedMappingTypesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStreamDefinition">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="streamNameWithVersion" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStreamDefinitionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOutputTransportAdaptorNames">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOutputTransportAdaptorNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNotDeployedEventFormatterConfigurationFiles">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNotDeployedEventFormatterConfigurationFilesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2107:EventFormatterConfigurationFileDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNotDeployedEventFormatterConfigurationFile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNotDeployedEventFormatterConfigurationFileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEventFormatterProperties">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportAdaptorName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEventFormatterPropertiesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2107:EventFormatterPropertyDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEventFormatterConfigurationFile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventFormatterName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEventFormatterConfigurationFileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEventFormatterConfigurationDto">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventFormatterName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEventFormatterConfigurationDtoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2107:EventFormatterConfigurationDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllEventStreamNames">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllEventStreamNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllEventFormatterConfigurationInfo">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllEventFormatterConfigurationInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2107:EventFormatterConfigurationInfoDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="enableTracing">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventFormatterName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="enableStatistics">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventFormatterName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editNotDeployedEventFormatterConfigurationFile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventFormatterConfiguration" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editEventFormatterConfigurationFile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventFormatterConfiguration" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="eventFormatterName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disableTracing">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventFormatterName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="disableStatistics">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventFormatterName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addXmlEventFormatter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventFormatterName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="streamNameWithVersion" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportAdaptorName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="textData" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="outputPropertyConfiguration" nillable="true" type="ax2107:EventFormatterPropertyDto"/>
                        <xs:element minOccurs="0" name="dataFrom" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addWSO2EventFormatter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventFormatterName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="streamNameWithVersion" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportAdaptorName" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="metaData" nillable="true" type="ax2107:EventOutputPropertyConfigurationDto"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="correlationData" nillable="true" type="ax2107:EventOutputPropertyConfigurationDto"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="payloadData" nillable="true" type="ax2107:EventOutputPropertyConfigurationDto"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="outputPropertyConfiguration" nillable="true" type="ax2107:EventFormatterPropertyDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addTextEventFormatter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventFormatterName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="streamNameWithVersion" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportAdaptorName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="textData" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="outputPropertyConfiguration" nillable="true" type="ax2107:EventFormatterPropertyDto"/>
                        <xs:element minOccurs="0" name="dataFrom" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addMapEventFormatter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventFormatterName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="streamNameWithVersion" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportAdaptorName" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="mapData" nillable="true" type="ax2107:EventOutputPropertyConfigurationDto"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="outputPropertyConfiguration" nillable="true" type="ax2107:EventFormatterPropertyDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addJsonEventFormatter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="eventFormatterName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="streamNameWithVersion" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportAdaptorName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="jsonData" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="outputPropertyConfiguration" nillable="true" type="ax2107:EventFormatterPropertyDto"/>
                        <xs:element minOccurs="0" name="dataFrom" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="removeEventFormatterConfigurationFileRequest">
        <wsdl:part name="parameters" element="ns:removeEventFormatterConfigurationFile"/>
    </wsdl:message>
    <wsdl:message name="removeEventFormatterConfigurationFileResponse"/>
    <wsdl:message name="getEventFormatterPropertiesRequest">
        <wsdl:part name="parameters" element="ns:getEventFormatterProperties"/>
    </wsdl:message>
    <wsdl:message name="getEventFormatterPropertiesResponse">
        <wsdl:part name="parameters" element="ns:getEventFormatterPropertiesResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllEventFormatterConfigurationInfoRequest">
        <wsdl:part name="parameters" element="ns:getAllEventFormatterConfigurationInfo"/>
    </wsdl:message>
    <wsdl:message name="getAllEventFormatterConfigurationInfoResponse">
        <wsdl:part name="parameters" element="ns:getAllEventFormatterConfigurationInfoResponse"/>
    </wsdl:message>
    <wsdl:message name="getEventFormatterConfigurationDtoRequest">
        <wsdl:part name="parameters" element="ns:getEventFormatterConfigurationDto"/>
    </wsdl:message>
    <wsdl:message name="getEventFormatterConfigurationDtoResponse">
        <wsdl:part name="parameters" element="ns:getEventFormatterConfigurationDtoResponse"/>
    </wsdl:message>
    <wsdl:message name="enableStatisticsRequest">
        <wsdl:part name="parameters" element="ns:enableStatistics"/>
    </wsdl:message>
    <wsdl:message name="enableStatisticsResponse"/>
    <wsdl:message name="getNotDeployedEventFormatterConfigurationFilesRequest">
        <wsdl:part name="parameters" element="ns:getNotDeployedEventFormatterConfigurationFiles"/>
    </wsdl:message>
    <wsdl:message name="getNotDeployedEventFormatterConfigurationFilesResponse">
        <wsdl:part name="parameters" element="ns:getNotDeployedEventFormatterConfigurationFilesResponse"/>
    </wsdl:message>
    <wsdl:message name="addJsonEventFormatterRequest">
        <wsdl:part name="parameters" element="ns:addJsonEventFormatter"/>
    </wsdl:message>
    <wsdl:message name="addJsonEventFormatterResponse"/>
    <wsdl:message name="addXmlEventFormatterRequest">
        <wsdl:part name="parameters" element="ns:addXmlEventFormatter"/>
    </wsdl:message>
    <wsdl:message name="addXmlEventFormatterResponse"/>
    <wsdl:message name="removeEventFormatterConfigurationRequest">
        <wsdl:part name="parameters" element="ns:removeEventFormatterConfiguration"/>
    </wsdl:message>
    <wsdl:message name="removeEventFormatterConfigurationResponse"/>
    <wsdl:message name="addTextEventFormatterRequest">
        <wsdl:part name="parameters" element="ns:addTextEventFormatter"/>
    </wsdl:message>
    <wsdl:message name="addTextEventFormatterResponse"/>
    <wsdl:message name="enableTracingRequest">
        <wsdl:part name="parameters" element="ns:enableTracing"/>
    </wsdl:message>
    <wsdl:message name="enableTracingResponse"/>
    <wsdl:message name="getOutputTransportAdaptorNamesRequest">
        <wsdl:part name="parameters" element="ns:getOutputTransportAdaptorNames"/>
    </wsdl:message>
    <wsdl:message name="getOutputTransportAdaptorNamesResponse">
        <wsdl:part name="parameters" element="ns:getOutputTransportAdaptorNamesResponse"/>
    </wsdl:message>
    <wsdl:message name="editNotDeployedEventFormatterConfigurationFileRequest">
        <wsdl:part name="parameters" element="ns:editNotDeployedEventFormatterConfigurationFile"/>
    </wsdl:message>
    <wsdl:message name="editNotDeployedEventFormatterConfigurationFileResponse"/>
    <wsdl:message name="editEventFormatterConfigurationFileRequest">
        <wsdl:part name="parameters" element="ns:editEventFormatterConfigurationFile"/>
    </wsdl:message>
    <wsdl:message name="editEventFormatterConfigurationFileResponse"/>
    <wsdl:message name="getAllEventStreamNamesRequest">
        <wsdl:part name="parameters" element="ns:getAllEventStreamNames"/>
    </wsdl:message>
    <wsdl:message name="getAllEventStreamNamesResponse">
        <wsdl:part name="parameters" element="ns:getAllEventStreamNamesResponse"/>
    </wsdl:message>
    <wsdl:message name="getNotDeployedEventFormatterConfigurationFileRequest">
        <wsdl:part name="parameters" element="ns:getNotDeployedEventFormatterConfigurationFile"/>
    </wsdl:message>
    <wsdl:message name="getNotDeployedEventFormatterConfigurationFileResponse">
        <wsdl:part name="parameters" element="ns:getNotDeployedEventFormatterConfigurationFileResponse"/>
    </wsdl:message>
    <wsdl:message name="addMapEventFormatterRequest">
        <wsdl:part name="parameters" element="ns:addMapEventFormatter"/>
    </wsdl:message>
    <wsdl:message name="addMapEventFormatterResponse"/>
    <wsdl:message name="addWSO2EventFormatterRequest">
        <wsdl:part name="parameters" element="ns:addWSO2EventFormatter"/>
    </wsdl:message>
    <wsdl:message name="addWSO2EventFormatterResponse"/>
    <wsdl:message name="disableStatisticsRequest">
        <wsdl:part name="parameters" element="ns:disableStatistics"/>
    </wsdl:message>
    <wsdl:message name="disableStatisticsResponse"/>
    <wsdl:message name="getStreamDefinitionRequest">
        <wsdl:part name="parameters" element="ns:getStreamDefinition"/>
    </wsdl:message>
    <wsdl:message name="getStreamDefinitionResponse">
        <wsdl:part name="parameters" element="ns:getStreamDefinitionResponse"/>
    </wsdl:message>
    <wsdl:message name="disableTracingRequest">
        <wsdl:part name="parameters" element="ns:disableTracing"/>
    </wsdl:message>
    <wsdl:message name="disableTracingResponse"/>
    <wsdl:message name="getSupportedMappingTypesRequest">
        <wsdl:part name="parameters" element="ns:getSupportedMappingTypes"/>
    </wsdl:message>
    <wsdl:message name="getSupportedMappingTypesResponse">
        <wsdl:part name="parameters" element="ns:getSupportedMappingTypesResponse"/>
    </wsdl:message>
    <wsdl:message name="getEventFormatterConfigurationFileRequest">
        <wsdl:part name="parameters" element="ns:getEventFormatterConfigurationFile"/>
    </wsdl:message>
    <wsdl:message name="getEventFormatterConfigurationFileResponse">
        <wsdl:part name="parameters" element="ns:getEventFormatterConfigurationFileResponse"/>
    </wsdl:message>
    <wsdl:portType name="EventFormatterAdminServicePortType">
        <wsdl:operation name="removeEventFormatterConfigurationFile">
            <wsdl:input message="ns:removeEventFormatterConfigurationFileRequest" wsaw:Action="urn:removeEventFormatterConfigurationFile"/>
            <wsdl:output message="ns:removeEventFormatterConfigurationFileResponse" wsaw:Action="urn:removeEventFormatterConfigurationFileResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getEventFormatterProperties">
            <wsdl:input message="ns:getEventFormatterPropertiesRequest" wsaw:Action="urn:getEventFormatterProperties"/>
            <wsdl:output message="ns:getEventFormatterPropertiesResponse" wsaw:Action="urn:getEventFormatterPropertiesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllEventFormatterConfigurationInfo">
            <wsdl:input message="ns:getAllEventFormatterConfigurationInfoRequest" wsaw:Action="urn:getAllEventFormatterConfigurationInfo"/>
            <wsdl:output message="ns:getAllEventFormatterConfigurationInfoResponse" wsaw:Action="urn:getAllEventFormatterConfigurationInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getEventFormatterConfigurationDto">
            <wsdl:input message="ns:getEventFormatterConfigurationDtoRequest" wsaw:Action="urn:getEventFormatterConfigurationDto"/>
            <wsdl:output message="ns:getEventFormatterConfigurationDtoResponse" wsaw:Action="urn:getEventFormatterConfigurationDtoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="enableStatistics">
            <wsdl:input message="ns:enableStatisticsRequest" wsaw:Action="urn:enableStatistics"/>
            <wsdl:output message="ns:enableStatisticsResponse" wsaw:Action="urn:enableStatisticsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getNotDeployedEventFormatterConfigurationFiles">
            <wsdl:input message="ns:getNotDeployedEventFormatterConfigurationFilesRequest" wsaw:Action="urn:getNotDeployedEventFormatterConfigurationFiles"/>
            <wsdl:output message="ns:getNotDeployedEventFormatterConfigurationFilesResponse" wsaw:Action="urn:getNotDeployedEventFormatterConfigurationFilesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addJsonEventFormatter">
            <wsdl:input message="ns:addJsonEventFormatterRequest" wsaw:Action="urn:addJsonEventFormatter"/>
            <wsdl:output message="ns:addJsonEventFormatterResponse" wsaw:Action="urn:addJsonEventFormatterResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addXmlEventFormatter">
            <wsdl:input message="ns:addXmlEventFormatterRequest" wsaw:Action="urn:addXmlEventFormatter"/>
            <wsdl:output message="ns:addXmlEventFormatterResponse" wsaw:Action="urn:addXmlEventFormatterResponse"/>
        </wsdl:operation>
        <wsdl:operation name="removeEventFormatterConfiguration">
            <wsdl:input message="ns:removeEventFormatterConfigurationRequest" wsaw:Action="urn:removeEventFormatterConfiguration"/>
            <wsdl:output message="ns:removeEventFormatterConfigurationResponse" wsaw:Action="urn:removeEventFormatterConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addTextEventFormatter">
            <wsdl:input message="ns:addTextEventFormatterRequest" wsaw:Action="urn:addTextEventFormatter"/>
            <wsdl:output message="ns:addTextEventFormatterResponse" wsaw:Action="urn:addTextEventFormatterResponse"/>
        </wsdl:operation>
        <wsdl:operation name="enableTracing">
            <wsdl:input message="ns:enableTracingRequest" wsaw:Action="urn:enableTracing"/>
            <wsdl:output message="ns:enableTracingResponse" wsaw:Action="urn:enableTracingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getOutputTransportAdaptorNames">
            <wsdl:input message="ns:getOutputTransportAdaptorNamesRequest" wsaw:Action="urn:getOutputTransportAdaptorNames"/>
            <wsdl:output message="ns:getOutputTransportAdaptorNamesResponse" wsaw:Action="urn:getOutputTransportAdaptorNamesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="editNotDeployedEventFormatterConfigurationFile">
            <wsdl:input message="ns:editNotDeployedEventFormatterConfigurationFileRequest" wsaw:Action="urn:editNotDeployedEventFormatterConfigurationFile"/>
            <wsdl:output message="ns:editNotDeployedEventFormatterConfigurationFileResponse" wsaw:Action="urn:editNotDeployedEventFormatterConfigurationFileResponse"/>
        </wsdl:operation>
        <wsdl:operation name="editEventFormatterConfigurationFile">
            <wsdl:input message="ns:editEventFormatterConfigurationFileRequest" wsaw:Action="urn:editEventFormatterConfigurationFile"/>
            <wsdl:output message="ns:editEventFormatterConfigurationFileResponse" wsaw:Action="urn:editEventFormatterConfigurationFileResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllEventStreamNames">
            <wsdl:input message="ns:getAllEventStreamNamesRequest" wsaw:Action="urn:getAllEventStreamNames"/>
            <wsdl:output message="ns:getAllEventStreamNamesResponse" wsaw:Action="urn:getAllEventStreamNamesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getNotDeployedEventFormatterConfigurationFile">
            <wsdl:input message="ns:getNotDeployedEventFormatterConfigurationFileRequest" wsaw:Action="urn:getNotDeployedEventFormatterConfigurationFile"/>
            <wsdl:output message="ns:getNotDeployedEventFormatterConfigurationFileResponse" wsaw:Action="urn:getNotDeployedEventFormatterConfigurationFileResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addMapEventFormatter">
            <wsdl:input message="ns:addMapEventFormatterRequest" wsaw:Action="urn:addMapEventFormatter"/>
            <wsdl:output message="ns:addMapEventFormatterResponse" wsaw:Action="urn:addMapEventFormatterResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addWSO2EventFormatter">
            <wsdl:input message="ns:addWSO2EventFormatterRequest" wsaw:Action="urn:addWSO2EventFormatter"/>
            <wsdl:output message="ns:addWSO2EventFormatterResponse" wsaw:Action="urn:addWSO2EventFormatterResponse"/>
        </wsdl:operation>
        <wsdl:operation name="disableStatistics">
            <wsdl:input message="ns:disableStatisticsRequest" wsaw:Action="urn:disableStatistics"/>
            <wsdl:output message="ns:disableStatisticsResponse" wsaw:Action="urn:disableStatisticsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getStreamDefinition">
            <wsdl:input message="ns:getStreamDefinitionRequest" wsaw:Action="urn:getStreamDefinition"/>
            <wsdl:output message="ns:getStreamDefinitionResponse" wsaw:Action="urn:getStreamDefinitionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="disableTracing">
            <wsdl:input message="ns:disableTracingRequest" wsaw:Action="urn:disableTracing"/>
            <wsdl:output message="ns:disableTracingResponse" wsaw:Action="urn:disableTracingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getSupportedMappingTypes">
            <wsdl:input message="ns:getSupportedMappingTypesRequest" wsaw:Action="urn:getSupportedMappingTypes"/>
            <wsdl:output message="ns:getSupportedMappingTypesResponse" wsaw:Action="urn:getSupportedMappingTypesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getEventFormatterConfigurationFile">
            <wsdl:input message="ns:getEventFormatterConfigurationFileRequest" wsaw:Action="urn:getEventFormatterConfigurationFile"/>
            <wsdl:output message="ns:getEventFormatterConfigurationFileResponse" wsaw:Action="urn:getEventFormatterConfigurationFileResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EventFormatterAdminServiceSoap11Binding" type="ns:EventFormatterAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="removeEventFormatterConfigurationFile">
            <soap:operation soapAction="urn:removeEventFormatterConfigurationFile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEventFormatterProperties">
            <soap:operation soapAction="urn:getEventFormatterProperties" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="enableStatistics">
            <soap:operation soapAction="urn:enableStatistics" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEventFormatterConfigurationDto">
            <soap:operation soapAction="urn:getEventFormatterConfigurationDto" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllEventFormatterConfigurationInfo">
            <soap:operation soapAction="urn:getAllEventFormatterConfigurationInfo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNotDeployedEventFormatterConfigurationFiles">
            <soap:operation soapAction="urn:getNotDeployedEventFormatterConfigurationFiles" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addXmlEventFormatter">
            <soap:operation soapAction="urn:addXmlEventFormatter" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addJsonEventFormatter">
            <soap:operation soapAction="urn:addJsonEventFormatter" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeEventFormatterConfiguration">
            <soap:operation soapAction="urn:removeEventFormatterConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addTextEventFormatter">
            <soap:operation soapAction="urn:addTextEventFormatter" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="enableTracing">
            <soap:operation soapAction="urn:enableTracing" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllEventStreamNames">
            <soap:operation soapAction="urn:getAllEventStreamNames" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editNotDeployedEventFormatterConfigurationFile">
            <soap:operation soapAction="urn:editNotDeployedEventFormatterConfigurationFile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOutputTransportAdaptorNames">
            <soap:operation soapAction="urn:getOutputTransportAdaptorNames" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editEventFormatterConfigurationFile">
            <soap:operation soapAction="urn:editEventFormatterConfigurationFile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNotDeployedEventFormatterConfigurationFile">
            <soap:operation soapAction="urn:getNotDeployedEventFormatterConfigurationFile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addWSO2EventFormatter">
            <soap:operation soapAction="urn:addWSO2EventFormatter" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addMapEventFormatter">
            <soap:operation soapAction="urn:addMapEventFormatter" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStreamDefinition">
            <soap:operation soapAction="urn:getStreamDefinition" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="disableStatistics">
            <soap:operation soapAction="urn:disableStatistics" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="disableTracing">
            <soap:operation soapAction="urn:disableTracing" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSupportedMappingTypes">
            <soap:operation soapAction="urn:getSupportedMappingTypes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEventFormatterConfigurationFile">
            <soap:operation soapAction="urn:getEventFormatterConfigurationFile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EventFormatterAdminServiceSoap12Binding" type="ns:EventFormatterAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="removeEventFormatterConfigurationFile">
            <soap12:operation soapAction="urn:removeEventFormatterConfigurationFile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEventFormatterProperties">
            <soap12:operation soapAction="urn:getEventFormatterProperties" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="enableStatistics">
            <soap12:operation soapAction="urn:enableStatistics" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEventFormatterConfigurationDto">
            <soap12:operation soapAction="urn:getEventFormatterConfigurationDto" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllEventFormatterConfigurationInfo">
            <soap12:operation soapAction="urn:getAllEventFormatterConfigurationInfo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNotDeployedEventFormatterConfigurationFiles">
            <soap12:operation soapAction="urn:getNotDeployedEventFormatterConfigurationFiles" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addXmlEventFormatter">
            <soap12:operation soapAction="urn:addXmlEventFormatter" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addJsonEventFormatter">
            <soap12:operation soapAction="urn:addJsonEventFormatter" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeEventFormatterConfiguration">
            <soap12:operation soapAction="urn:removeEventFormatterConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addTextEventFormatter">
            <soap12:operation soapAction="urn:addTextEventFormatter" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="enableTracing">
            <soap12:operation soapAction="urn:enableTracing" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllEventStreamNames">
            <soap12:operation soapAction="urn:getAllEventStreamNames" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editNotDeployedEventFormatterConfigurationFile">
            <soap12:operation soapAction="urn:editNotDeployedEventFormatterConfigurationFile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOutputTransportAdaptorNames">
            <soap12:operation soapAction="urn:getOutputTransportAdaptorNames" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editEventFormatterConfigurationFile">
            <soap12:operation soapAction="urn:editEventFormatterConfigurationFile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNotDeployedEventFormatterConfigurationFile">
            <soap12:operation soapAction="urn:getNotDeployedEventFormatterConfigurationFile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addWSO2EventFormatter">
            <soap12:operation soapAction="urn:addWSO2EventFormatter" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addMapEventFormatter">
            <soap12:operation soapAction="urn:addMapEventFormatter" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStreamDefinition">
            <soap12:operation soapAction="urn:getStreamDefinition" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="disableStatistics">
            <soap12:operation soapAction="urn:disableStatistics" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="disableTracing">
            <soap12:operation soapAction="urn:disableTracing" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSupportedMappingTypes">
            <soap12:operation soapAction="urn:getSupportedMappingTypes" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEventFormatterConfigurationFile">
            <soap12:operation soapAction="urn:getEventFormatterConfigurationFile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EventFormatterAdminServiceHttpBinding" type="ns:EventFormatterAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="removeEventFormatterConfigurationFile">
            <http:operation location="removeEventFormatterConfigurationFile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEventFormatterProperties">
            <http:operation location="getEventFormatterProperties"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="enableStatistics">
            <http:operation location="enableStatistics"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEventFormatterConfigurationDto">
            <http:operation location="getEventFormatterConfigurationDto"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllEventFormatterConfigurationInfo">
            <http:operation location="getAllEventFormatterConfigurationInfo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNotDeployedEventFormatterConfigurationFiles">
            <http:operation location="getNotDeployedEventFormatterConfigurationFiles"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addXmlEventFormatter">
            <http:operation location="addXmlEventFormatter"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addJsonEventFormatter">
            <http:operation location="addJsonEventFormatter"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeEventFormatterConfiguration">
            <http:operation location="removeEventFormatterConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addTextEventFormatter">
            <http:operation location="addTextEventFormatter"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="enableTracing">
            <http:operation location="enableTracing"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllEventStreamNames">
            <http:operation location="getAllEventStreamNames"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editNotDeployedEventFormatterConfigurationFile">
            <http:operation location="editNotDeployedEventFormatterConfigurationFile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOutputTransportAdaptorNames">
            <http:operation location="getOutputTransportAdaptorNames"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editEventFormatterConfigurationFile">
            <http:operation location="editEventFormatterConfigurationFile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNotDeployedEventFormatterConfigurationFile">
            <http:operation location="getNotDeployedEventFormatterConfigurationFile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addWSO2EventFormatter">
            <http:operation location="addWSO2EventFormatter"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addMapEventFormatter">
            <http:operation location="addMapEventFormatter"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStreamDefinition">
            <http:operation location="getStreamDefinition"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="disableStatistics">
            <http:operation location="disableStatistics"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="disableTracing">
            <http:operation location="disableTracing"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSupportedMappingTypes">
            <http:operation location="getSupportedMappingTypes"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEventFormatterConfigurationFile">
            <http:operation location="getEventFormatterConfigurationFile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EventFormatterAdminService">
        <wsdl:port name="EventFormatterAdminServiceHttpsSoap11Endpoint" binding="ns:EventFormatterAdminServiceSoap11Binding">
            <soap:address location="https://10.200.1.136:9443/services/EventFormatterAdminService.EventFormatterAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EventFormatterAdminServiceHttpsSoap12Endpoint" binding="ns:EventFormatterAdminServiceSoap12Binding">
            <soap12:address location="https://10.200.1.136:9443/services/EventFormatterAdminService.EventFormatterAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="EventFormatterAdminServiceHttpsEndpoint" binding="ns:EventFormatterAdminServiceHttpBinding">
            <http:address location="https://10.200.1.136:9443/services/EventFormatterAdminService.EventFormatterAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>