service-stubs/org.wso2.carbon.transport.adaptor.manager.stub/src/main/resources/TransportManagerAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2349="http://exception.internal.admin.manager.adaptor.transport.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://internal.admin.manager.adaptor.transport.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2351="http://internal.admin.manager.adaptor.transport.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://internal.admin.manager.adaptor.transport.carbon.wso2.org">
    <wsdl:documentation>TransportManagerAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://internal.admin.manager.adaptor.transport.carbon.wso2.org/xsd">
            <xs:complexType name="TransportAdaptorFileDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transportAdaptorName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TransportPropertyDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="defaultValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="hint" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="options" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="required" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="secured" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TransportConfigurationDto">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="commonTransportPropertyDtos" nillable="true" type="ax2351:TransportPropertyDto"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="inputTransportPropertyDtos" nillable="true" type="ax2351:TransportPropertyDto"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="outputTransportPropertyDtos" nillable="true" type="ax2351:TransportPropertyDto"/>
                    <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transportType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TransportAdaptorProperties">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="commonTransportPropertyDtos" nillable="true" type="ax2351:TransportPropertyDto"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="inputTransportPropertyDtos" nillable="true" type="ax2351:TransportPropertyDto"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="outputTransportPropertyDtos" nillable="true" type="ax2351:TransportPropertyDto"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.internal.admin.manager.adaptor.transport.carbon.wso2.org/xsd">
            <xs:complexType name="TransportManagerAdminServiceException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2350="http://exception.internal.admin.manager.adaptor.transport.carbon.wso2.org/xsd" xmlns:ax2352="http://internal.admin.manager.adaptor.transport.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://internal.admin.manager.adaptor.transport.carbon.wso2.org">
            <xs:import namespace="http://exception.internal.admin.manager.adaptor.transport.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://internal.admin.manager.adaptor.transport.carbon.wso2.org/xsd"/>
            <xs:element name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="TransportManagerAdminServiceException" nillable="true" type="ax2349:TransportManagerAdminServiceException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeTransportConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportAdaptorName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeTransportAdaptorFile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUnDeployedFiles">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getUnDeployedFilesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2352:TransportAdaptorFileDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTransportNames">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTransportNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTransportAdaptorConfigurationFile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportAdaptorName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTransportAdaptorConfigurationFileResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOutputTransportProperties">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOutputTransportPropertiesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2352:TransportPropertyDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOutputTransportConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOutputTransportConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2352:TransportPropertyDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInputTransportProperties">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInputTransportPropertiesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2352:TransportPropertyDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInputTransportConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInputTransportConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2352:TransportPropertyDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCommonTransportProperties">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCommonTransportPropertiesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2352:TransportPropertyDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCommonTransportConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCommonTransportConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2352:TransportPropertyDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllTransportConfigurationNamesAndTypes">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllTransportConfigurationNamesAndTypesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2352:TransportConfigurationDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllTransportAdaptorProperties">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllTransportAdaptorPropertiesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2352:TransportAdaptorProperties"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editTransportAdaptorConfigurationFile">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportAdaptorConfiguration" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportAdaptorName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addTransportConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportAdaptorName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportAdaptorType" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="inputPropertyDtos" nillable="true" type="ax2352:TransportPropertyDto"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="outputPropertyDtos" nillable="true" type="ax2352:TransportPropertyDto"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="commonPropertyDtos" nillable="true" type="ax2352:TransportPropertyDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getTransportAdaptorConfigurationFileRequest">
        <wsdl:part name="parameters" element="ns:getTransportAdaptorConfigurationFile"/>
    </wsdl:message>
    <wsdl:message name="getTransportAdaptorConfigurationFileResponse">
        <wsdl:part name="parameters" element="ns:getTransportAdaptorConfigurationFileResponse"/>
    </wsdl:message>
    <wsdl:message name="TransportManagerAdminServiceTransportManagerAdminServiceException">
        <wsdl:part name="parameters" element="ns:TransportManagerAdminServiceTransportManagerAdminServiceException"/>
    </wsdl:message>
    <wsdl:message name="getTransportNamesRequest">
        <wsdl:part name="parameters" element="ns:getTransportNames"/>
    </wsdl:message>
    <wsdl:message name="getTransportNamesResponse">
        <wsdl:part name="parameters" element="ns:getTransportNamesResponse"/>
    </wsdl:message>
    <wsdl:message name="getOutputTransportConfigurationRequest">
        <wsdl:part name="parameters" element="ns:getOutputTransportConfiguration"/>
    </wsdl:message>
    <wsdl:message name="getOutputTransportConfigurationResponse">
        <wsdl:part name="parameters" element="ns:getOutputTransportConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="getInputTransportConfigurationRequest">
        <wsdl:part name="parameters" element="ns:getInputTransportConfiguration"/>
    </wsdl:message>
    <wsdl:message name="getInputTransportConfigurationResponse">
        <wsdl:part name="parameters" element="ns:getInputTransportConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="editTransportAdaptorConfigurationFileRequest">
        <wsdl:part name="parameters" element="ns:editTransportAdaptorConfigurationFile"/>
    </wsdl:message>
    <wsdl:message name="editTransportAdaptorConfigurationFileResponse"/>
    <wsdl:message name="getAllTransportAdaptorPropertiesRequest">
        <wsdl:part name="parameters" element="ns:getAllTransportAdaptorProperties"/>
    </wsdl:message>
    <wsdl:message name="getAllTransportAdaptorPropertiesResponse">
        <wsdl:part name="parameters" element="ns:getAllTransportAdaptorPropertiesResponse"/>
    </wsdl:message>
    <wsdl:message name="getInputTransportPropertiesRequest">
        <wsdl:part name="parameters" element="ns:getInputTransportProperties"/>
    </wsdl:message>
    <wsdl:message name="getInputTransportPropertiesResponse">
        <wsdl:part name="parameters" element="ns:getInputTransportPropertiesResponse"/>
    </wsdl:message>
    <wsdl:message name="getCommonTransportConfigurationRequest">
        <wsdl:part name="parameters" element="ns:getCommonTransportConfiguration"/>
    </wsdl:message>
    <wsdl:message name="getCommonTransportConfigurationResponse">
        <wsdl:part name="parameters" element="ns:getCommonTransportConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllTransportConfigurationNamesAndTypesRequest">
        <wsdl:part name="parameters" element="ns:getAllTransportConfigurationNamesAndTypes"/>
    </wsdl:message>
    <wsdl:message name="getAllTransportConfigurationNamesAndTypesResponse">
        <wsdl:part name="parameters" element="ns:getAllTransportConfigurationNamesAndTypesResponse"/>
    </wsdl:message>
    <wsdl:message name="getCommonTransportPropertiesRequest">
        <wsdl:part name="parameters" element="ns:getCommonTransportProperties"/>
    </wsdl:message>
    <wsdl:message name="getCommonTransportPropertiesResponse">
        <wsdl:part name="parameters" element="ns:getCommonTransportPropertiesResponse"/>
    </wsdl:message>
    <wsdl:message name="addTransportConfigurationRequest">
        <wsdl:part name="parameters" element="ns:addTransportConfiguration"/>
    </wsdl:message>
    <wsdl:message name="addTransportConfigurationResponse"/>
    <wsdl:message name="getOutputTransportPropertiesRequest">
        <wsdl:part name="parameters" element="ns:getOutputTransportProperties"/>
    </wsdl:message>
    <wsdl:message name="getOutputTransportPropertiesResponse">
        <wsdl:part name="parameters" element="ns:getOutputTransportPropertiesResponse"/>
    </wsdl:message>
    <wsdl:message name="removeTransportAdaptorFileRequest">
        <wsdl:part name="parameters" element="ns:removeTransportAdaptorFile"/>
    </wsdl:message>
    <wsdl:message name="removeTransportAdaptorFileResponse"/>
    <wsdl:message name="removeTransportConfigurationRequest">
        <wsdl:part name="parameters" element="ns:removeTransportConfiguration"/>
    </wsdl:message>
    <wsdl:message name="removeTransportConfigurationResponse"/>
    <wsdl:message name="getUnDeployedFilesRequest">
        <wsdl:part name="parameters" element="ns:getUnDeployedFiles"/>
    </wsdl:message>
    <wsdl:message name="getUnDeployedFilesResponse">
        <wsdl:part name="parameters" element="ns:getUnDeployedFilesResponse"/>
    </wsdl:message>
    <wsdl:portType name="TransportManagerAdminServicePortType">
        <wsdl:operation name="getTransportAdaptorConfigurationFile">
            <wsdl:input message="ns:getTransportAdaptorConfigurationFileRequest" wsaw:Action="urn:getTransportAdaptorConfigurationFile"/>
            <wsdl:output message="ns:getTransportAdaptorConfigurationFileResponse" wsaw:Action="urn:getTransportAdaptorConfigurationFileResponse"/>
            <wsdl:fault message="ns:TransportManagerAdminServiceTransportManagerAdminServiceException" name="TransportManagerAdminServiceTransportManagerAdminServiceException" wsaw:Action="urn:getTransportAdaptorConfigurationFileTransportManagerAdminServiceTransportManagerAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getTransportNames">
            <wsdl:input message="ns:getTransportNamesRequest" wsaw:Action="urn:getTransportNames"/>
            <wsdl:output message="ns:getTransportNamesResponse" wsaw:Action="urn:getTransportNamesResponse"/>
            <wsdl:fault message="ns:TransportManagerAdminServiceTransportManagerAdminServiceException" name="TransportManagerAdminServiceTransportManagerAdminServiceException" wsaw:Action="urn:getTransportNamesTransportManagerAdminServiceTransportManagerAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getOutputTransportConfiguration">
            <wsdl:input message="ns:getOutputTransportConfigurationRequest" wsaw:Action="urn:getOutputTransportConfiguration"/>
            <wsdl:output message="ns:getOutputTransportConfigurationResponse" wsaw:Action="urn:getOutputTransportConfigurationResponse"/>
            <wsdl:fault message="ns:TransportManagerAdminServiceTransportManagerAdminServiceException" name="TransportManagerAdminServiceTransportManagerAdminServiceException" wsaw:Action="urn:getOutputTransportConfigurationTransportManagerAdminServiceTransportManagerAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getInputTransportConfiguration">
            <wsdl:input message="ns:getInputTransportConfigurationRequest" wsaw:Action="urn:getInputTransportConfiguration"/>
            <wsdl:output message="ns:getInputTransportConfigurationResponse" wsaw:Action="urn:getInputTransportConfigurationResponse"/>
            <wsdl:fault message="ns:TransportManagerAdminServiceTransportManagerAdminServiceException" name="TransportManagerAdminServiceTransportManagerAdminServiceException" wsaw:Action="urn:getInputTransportConfigurationTransportManagerAdminServiceTransportManagerAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="editTransportAdaptorConfigurationFile">
            <wsdl:input message="ns:editTransportAdaptorConfigurationFileRequest" wsaw:Action="urn:editTransportAdaptorConfigurationFile"/>
            <wsdl:output message="ns:editTransportAdaptorConfigurationFileResponse" wsaw:Action="urn:editTransportAdaptorConfigurationFileResponse"/>
            <wsdl:fault message="ns:TransportManagerAdminServiceTransportManagerAdminServiceException" name="TransportManagerAdminServiceTransportManagerAdminServiceException" wsaw:Action="urn:editTransportAdaptorConfigurationFileTransportManagerAdminServiceTransportManagerAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllTransportAdaptorProperties">
            <wsdl:input message="ns:getAllTransportAdaptorPropertiesRequest" wsaw:Action="urn:getAllTransportAdaptorProperties"/>
            <wsdl:output message="ns:getAllTransportAdaptorPropertiesResponse" wsaw:Action="urn:getAllTransportAdaptorPropertiesResponse"/>
            <wsdl:fault message="ns:TransportManagerAdminServiceTransportManagerAdminServiceException" name="TransportManagerAdminServiceTransportManagerAdminServiceException" wsaw:Action="urn:getAllTransportAdaptorPropertiesTransportManagerAdminServiceTransportManagerAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getInputTransportProperties">
            <wsdl:input message="ns:getInputTransportPropertiesRequest" wsaw:Action="urn:getInputTransportProperties"/>
            <wsdl:output message="ns:getInputTransportPropertiesResponse" wsaw:Action="urn:getInputTransportPropertiesResponse"/>
            <wsdl:fault message="ns:TransportManagerAdminServiceTransportManagerAdminServiceException" name="TransportManagerAdminServiceTransportManagerAdminServiceException" wsaw:Action="urn:getInputTransportPropertiesTransportManagerAdminServiceTransportManagerAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getCommonTransportConfiguration">
            <wsdl:input message="ns:getCommonTransportConfigurationRequest" wsaw:Action="urn:getCommonTransportConfiguration"/>
            <wsdl:output message="ns:getCommonTransportConfigurationResponse" wsaw:Action="urn:getCommonTransportConfigurationResponse"/>
            <wsdl:fault message="ns:TransportManagerAdminServiceTransportManagerAdminServiceException" name="TransportManagerAdminServiceTransportManagerAdminServiceException" wsaw:Action="urn:getCommonTransportConfigurationTransportManagerAdminServiceTransportManagerAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getAllTransportConfigurationNamesAndTypes">
            <wsdl:input message="ns:getAllTransportConfigurationNamesAndTypesRequest" wsaw:Action="urn:getAllTransportConfigurationNamesAndTypes"/>
            <wsdl:output message="ns:getAllTransportConfigurationNamesAndTypesResponse" wsaw:Action="urn:getAllTransportConfigurationNamesAndTypesResponse"/>
            <wsdl:fault message="ns:TransportManagerAdminServiceTransportManagerAdminServiceException" name="TransportManagerAdminServiceTransportManagerAdminServiceException" wsaw:Action="urn:getAllTransportConfigurationNamesAndTypesTransportManagerAdminServiceTransportManagerAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getCommonTransportProperties">
            <wsdl:input message="ns:getCommonTransportPropertiesRequest" wsaw:Action="urn:getCommonTransportProperties"/>
            <wsdl:output message="ns:getCommonTransportPropertiesResponse" wsaw:Action="urn:getCommonTransportPropertiesResponse"/>
            <wsdl:fault message="ns:TransportManagerAdminServiceTransportManagerAdminServiceException" name="TransportManagerAdminServiceTransportManagerAdminServiceException" wsaw:Action="urn:getCommonTransportPropertiesTransportManagerAdminServiceTransportManagerAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="addTransportConfiguration">
            <wsdl:input message="ns:addTransportConfigurationRequest" wsaw:Action="urn:addTransportConfiguration"/>
            <wsdl:output message="ns:addTransportConfigurationResponse" wsaw:Action="urn:addTransportConfigurationResponse"/>
            <wsdl:fault message="ns:TransportManagerAdminServiceTransportManagerAdminServiceException" name="TransportManagerAdminServiceTransportManagerAdminServiceException" wsaw:Action="urn:addTransportConfigurationTransportManagerAdminServiceTransportManagerAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getOutputTransportProperties">
            <wsdl:input message="ns:getOutputTransportPropertiesRequest" wsaw:Action="urn:getOutputTransportProperties"/>
            <wsdl:output message="ns:getOutputTransportPropertiesResponse" wsaw:Action="urn:getOutputTransportPropertiesResponse"/>
            <wsdl:fault message="ns:TransportManagerAdminServiceTransportManagerAdminServiceException" name="TransportManagerAdminServiceTransportManagerAdminServiceException" wsaw:Action="urn:getOutputTransportPropertiesTransportManagerAdminServiceTransportManagerAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="removeTransportAdaptorFile">
            <wsdl:input message="ns:removeTransportAdaptorFileRequest" wsaw:Action="urn:removeTransportAdaptorFile"/>
            <wsdl:output message="ns:removeTransportAdaptorFileResponse" wsaw:Action="urn:removeTransportAdaptorFileResponse"/>
            <wsdl:fault message="ns:TransportManagerAdminServiceTransportManagerAdminServiceException" name="TransportManagerAdminServiceTransportManagerAdminServiceException" wsaw:Action="urn:removeTransportAdaptorFileTransportManagerAdminServiceTransportManagerAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="removeTransportConfiguration">
            <wsdl:input message="ns:removeTransportConfigurationRequest" wsaw:Action="urn:removeTransportConfiguration"/>
            <wsdl:output message="ns:removeTransportConfigurationResponse" wsaw:Action="urn:removeTransportConfigurationResponse"/>
            <wsdl:fault message="ns:TransportManagerAdminServiceTransportManagerAdminServiceException" name="TransportManagerAdminServiceTransportManagerAdminServiceException" wsaw:Action="urn:removeTransportConfigurationTransportManagerAdminServiceTransportManagerAdminServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getUnDeployedFiles">
            <wsdl:input message="ns:getUnDeployedFilesRequest" wsaw:Action="urn:getUnDeployedFiles"/>
            <wsdl:output message="ns:getUnDeployedFilesResponse" wsaw:Action="urn:getUnDeployedFilesResponse"/>
            <wsdl:fault message="ns:TransportManagerAdminServiceTransportManagerAdminServiceException" name="TransportManagerAdminServiceTransportManagerAdminServiceException" wsaw:Action="urn:getUnDeployedFilesTransportManagerAdminServiceTransportManagerAdminServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TransportManagerAdminServiceSoap11Binding" type="ns:TransportManagerAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getTransportNames">
            <soap:operation soapAction="urn:getTransportNames" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTransportAdaptorConfigurationFile">
            <soap:operation soapAction="urn:getTransportAdaptorConfigurationFile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getInputTransportConfiguration">
            <soap:operation soapAction="urn:getInputTransportConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOutputTransportConfiguration">
            <soap:operation soapAction="urn:getOutputTransportConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="editTransportAdaptorConfigurationFile">
            <soap:operation soapAction="urn:editTransportAdaptorConfigurationFile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getInputTransportProperties">
            <soap:operation soapAction="urn:getInputTransportProperties" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllTransportAdaptorProperties">
            <soap:operation soapAction="urn:getAllTransportAdaptorProperties" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCommonTransportConfiguration">
            <soap:operation soapAction="urn:getCommonTransportConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCommonTransportProperties">
            <soap:operation soapAction="urn:getCommonTransportProperties" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllTransportConfigurationNamesAndTypes">
            <soap:operation soapAction="urn:getAllTransportConfigurationNamesAndTypes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addTransportConfiguration">
            <soap:operation soapAction="urn:addTransportConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOutputTransportProperties">
            <soap:operation soapAction="urn:getOutputTransportProperties" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeTransportAdaptorFile">
            <soap:operation soapAction="urn:removeTransportAdaptorFile" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeTransportConfiguration">
            <soap:operation soapAction="urn:removeTransportConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUnDeployedFiles">
            <soap:operation soapAction="urn:getUnDeployedFiles" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TransportManagerAdminServiceSoap12Binding" type="ns:TransportManagerAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getTransportNames">
            <soap12:operation soapAction="urn:getTransportNames" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap12:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getTransportAdaptorConfigurationFile">
            <soap12:operation soapAction="urn:getTransportAdaptorConfigurationFile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap12:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getInputTransportConfiguration">
            <soap12:operation soapAction="urn:getInputTransportConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap12:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOutputTransportConfiguration">
            <soap12:operation soapAction="urn:getOutputTransportConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap12:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="editTransportAdaptorConfigurationFile">
            <soap12:operation soapAction="urn:editTransportAdaptorConfigurationFile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap12:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getInputTransportProperties">
            <soap12:operation soapAction="urn:getInputTransportProperties" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap12:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllTransportAdaptorProperties">
            <soap12:operation soapAction="urn:getAllTransportAdaptorProperties" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap12:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCommonTransportConfiguration">
            <soap12:operation soapAction="urn:getCommonTransportConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap12:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCommonTransportProperties">
            <soap12:operation soapAction="urn:getCommonTransportProperties" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap12:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllTransportConfigurationNamesAndTypes">
            <soap12:operation soapAction="urn:getAllTransportConfigurationNamesAndTypes" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap12:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addTransportConfiguration">
            <soap12:operation soapAction="urn:addTransportConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap12:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getOutputTransportProperties">
            <soap12:operation soapAction="urn:getOutputTransportProperties" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap12:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeTransportAdaptorFile">
            <soap12:operation soapAction="urn:removeTransportAdaptorFile" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap12:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="removeTransportConfiguration">
            <soap12:operation soapAction="urn:removeTransportConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap12:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getUnDeployedFiles">
            <soap12:operation soapAction="urn:getUnDeployedFiles" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TransportManagerAdminServiceTransportManagerAdminServiceException">
                <soap12:fault use="literal" name="TransportManagerAdminServiceTransportManagerAdminServiceException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TransportManagerAdminServiceHttpBinding" type="ns:TransportManagerAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getTransportNames">
            <http:operation location="getTransportNames"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTransportAdaptorConfigurationFile">
            <http:operation location="getTransportAdaptorConfigurationFile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInputTransportConfiguration">
            <http:operation location="getInputTransportConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOutputTransportConfiguration">
            <http:operation location="getOutputTransportConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editTransportAdaptorConfigurationFile">
            <http:operation location="editTransportAdaptorConfigurationFile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInputTransportProperties">
            <http:operation location="getInputTransportProperties"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllTransportAdaptorProperties">
            <http:operation location="getAllTransportAdaptorProperties"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCommonTransportConfiguration">
            <http:operation location="getCommonTransportConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCommonTransportProperties">
            <http:operation location="getCommonTransportProperties"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllTransportConfigurationNamesAndTypes">
            <http:operation location="getAllTransportConfigurationNamesAndTypes"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addTransportConfiguration">
            <http:operation location="addTransportConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOutputTransportProperties">
            <http:operation location="getOutputTransportProperties"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeTransportAdaptorFile">
            <http:operation location="removeTransportAdaptorFile"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeTransportConfiguration">
            <http:operation location="removeTransportConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getUnDeployedFiles">
            <http:operation location="getUnDeployedFiles"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TransportManagerAdminService">
        <wsdl:port name="TransportManagerAdminServiceHttpsSoap11Endpoint" binding="ns:TransportManagerAdminServiceSoap11Binding">
            <soap:address location="https://10.200.3.51:9443/services/TransportManagerAdminService.TransportManagerAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="TransportManagerAdminServiceHttpsSoap12Endpoint" binding="ns:TransportManagerAdminServiceSoap12Binding">
            <soap12:address location="https://10.200.3.51:9443/services/TransportManagerAdminService.TransportManagerAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="TransportManagerAdminServiceHttpsEndpoint" binding="ns:TransportManagerAdminServiceHttpBinding">
            <http:address location="https://10.200.3.51:9443/services/TransportManagerAdminService.TransportManagerAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>